/* -------------------------------------------------------------------------

 Style Guide Boilerplate Bootstrap Edition v2.0.1
 Repo: https://github.com/kemie/Style-Guide-Boilerplate-Bootstrap-Edition
 Author: Brett Jankord (modified by Kemie Guaida)
 License: MIT

---------------------------------------------------------------------------- */
@font-face {
  font-family: 'helvetica_regular';
  src: url('/fonts/HelveticaNeueLTStd-LtCn.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/HelveticaNeueLTStd-LtCn.woff') format('woff'), /* Pretty Modern Browsers */ url('/fonts/HelveticaNeueLTStd-LtCn.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/HelveticaNeueLTStd-LtCn.svg') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'brandon_grotesque_regular';
  src: url('/fonts/brandongrotesque-regular-webfont.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/brandongrotesque-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/fonts/brandongrotesque-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */ url('/fonts/brandongrotesque-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('/fonts/brandongrotesque-regular-webfont.svg') format('svg');
  /* Legacy iOS */
}
body {
  font-family: "helvetica_regular", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "brandon_grotesque_regular", sans-serif !important;
  font-weight: normal;
  line-height: 1;
  color: #000;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1 !important;
  color: #808080 !important;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 38px;
}
h2,
.h2 {
  font-size: 31px;
}
h3,
.h3 {
  font-size: 25px;
}
h4,
.h4 {
  font-size: 21px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-muted {
  color: #808080;
}
.text-primary {
  color: #BBB;
}
a.text-primary:hover {
  color: #a2a2a2;
}
.text-success {
  color: #468847;
}
a.text-success:hover {
  color: #356635;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover {
  color: #2d6987;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover {
  color: #a47e3c;
}
.text-danger {
  color: #b94a48;
}
a.text-danger:hover {
  color: #953b39;
}
.bg-primary {
  color: #fff;
  background-color: #BBB;
}
a.bg-primary:hover {
  background-color: #a2a2a2;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}
.title-wrapper {
  text-align: center;
  margin-bottom: 30px;
}
.title-wrapper h2 {
  margin-bottom: 10px;
  position: relative;
}
.title-wrapper h2.large span {
  background: #fff;
  display: inline-block;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 5;
}
.title-wrapper h2.large::after {
  content: "";
  top: 50%;
  position: absolute;
  height: 1px;
  background: #262626;
  width: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #808080;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #ddd;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #808080;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #ddd;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
/* -------------------------------------------------------------------------
 Layout
---------------------------------------------------------------------------- */
body {
  background-color: #fff !important;
  margin: 0;
  padding-top: 50px;
}
/* -------------------------------------------------------------------------
 Utility Classes
---------------------------------------------------------------------------- */
.sg-container {
  overflow: hidden;
  padding: 16px 24px;
  /* For older browsers */
  padding: 1rem 1.5rem;
}
.sg-animated {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
/* -------------------------------------------------------------------------
 Modules
---------------------------------------------------------------------------- */
/* Headings
---------------------------------------------------------------------------- */
.sg-h1,
.sg-h2,
.sg-h3 {
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 0;
}
.sg-h1 {
  font-weight: bold;
  padding-bottom: 0.2em;
  margin-top: 1em;
  margin-bottom: 1.25em;
  border-bottom-width: 3px;
}
.sg-h2 {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  text-transform: capitalize;
  margin-top: 1.5em;
  border-bottom-width: 2px;
}
.sg-h3 {
  padding-bottom: 0.25em;
  border-color: #eee;
}
.sg-about {
  margin-top: 2em;
}
.row > .page-header {
  padding-top: 2em;
}
/* Buttons
---------------------------------------------------------------------------- */
.sg-btn {
  float: left;
  text-shadow: none!important;
}
.sg-btn--top {
  float: right;
}
ul.scroll-menu {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  width: 100%;
  max-height: 500px;
}
.dropdown-header {
  text-transform: uppercase;
}
.sg-btn--select {
  border-radius: 0 0.3em;
  position: absolute;
  right: 5px;
  top: 14px;
}
.sg-btn--select.is-active:hover:after {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  top: 45px;
  color: #fff;
  content: "Selected code ready to be copied";
  font-size: 0.8em;
  display: block;
  right: 5px;
  padding: 5px 15px;
  position: absolute;
  white-space: nowrap;
  z-index: 98;
}
.sg-btn--select.is-active:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-width: 0 6px 6px 6px;
  top: 40px;
  content: "";
  display: block;
  left: 75%;
  position: absolute;
  z-index: 99;
}
/* Hide specific buttons for use with JS */
.sg-btn--source {
  clear: both;
}
.sg-btn--source,
.sg-btn--select {
  display: none;
}
/* Show specific buttons if JS enabled */
.js .sg-btn--source,
.js .sg-btn--select {
  display: block;
}
/* Hide specific buttons conditionally */
.operamini .sg-btn--source,
.legacy .sg-btn--source {
  display: none;
}
/* Sections
---------------------------------------------------------------------------- */
.sg-section {
  margin-bottom: 32px;
  /* For older browsers */
  margin-bottom: 3rem;
  overflow: hidden;
}
.sg-anchor {
  display: block;
  padding-top: 1em;
}
/* Colors
---------------------------------------------------------------------------- */
.sg-color {
  background: #eaeaea;
  border: 1px solid #ccc;
  display: inline-block;
  height: 111px;
  margin: 15px 0.5em 0.5em 0;
  padding: 5px;
  position: relative;
  width: 180px;
}
.sg-lg {
  width: 300px;
  height: 183px;
}
.sg-color-swatch {
  display: block;
  height: 100%;
  width: 100%;
}
.sg-color-swatch span {
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  bottom: 5px;
  color: #fff;
  font-size: 0.8em;
  margin: 0;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: calc(100% - 10px);
}
.sg-lg .sg-color-swatch span {
  width: 128px;
}
.sg-lg .sg-color-swatch span {
  width: calc(100% - 10px);
}
.sg-color-swatch:hover span {
  opacity: 1;
}
/* -------------------------------------------------------------------------
 Colors
---------------------------------------------------------------------------- */
.sg-brand-primary .sg-color-swatch {
  background: #BBB;
}
.sg-gray-lighter .sg-color-swatch {
  background: #ddd;
}
.sg-gray-light .sg-color-swatch {
  background: #808080;
}
.sg-gray .sg-color-swatch {
  background: #555555;
}
.sg-gray-dark .sg-color-swatch {
  background: #333333;
}
.sg-gray-darker .sg-color-swatch {
  background: #222222;
}
.sg-brand-success .sg-color-swatch {
  background: #469408;
}
.sg-brand-info .sg-color-swatch {
  background: #029ACF;
}
.sg-brand-warning .sg-color-swatch {
  background: #9B479F;
}
.sg-brand-danger .sg-color-swatch {
  background: #D9831F;
}
.sg-brand-white .sg-color-swatch {
  background: #fff;
}
.sg-brand-black .sg-color-swatch {
  background: #000;
}
.sg-brand-teal .sg-color-swatch {
  background: #218fa3;
}
.sg-brand-watermelon .sg-color-swatch {
  background: #c4004b;
}
.sg-brand-charcoal .sg-color-swatch {
  background: #484545;
}
.sg-brand-coolgray .sg-color-swatch {
  background: #747e79;
}
.sg-brand-warmgray .sg-color-swatch {
  background: #b5b0a9;
}
/* Fonts
---------------------------------------------------------------------------- */
.sg-font {
  font-size: 1.8em;
  padding: 0 0 0.2em 0;
}
.sg-font-primary {
  font-family: "helvetica_regular", sans-serif;
}
.sg-font-secondary {
  font-family: "brandon_grotesque_regular", sans-serif !important;
}
/* Grid
---------------------------------------------------------------------------- */
.show-grid {
  padding: 0.5em 0;
}
.show-grid div {
  background-color: #ddd;
  border: 1px solid #808080;
  padding: 0.5em;
}
/* Markup
---------------------------------------------------------------------------- */
.sg-markup-controls {
  overflow: hidden;
  padding-top: 1.5em;
  clear: both;
}
.sg-source {
  position: relative;
}
.sg-source pre {
  background: #333;
  border-radius: 0.5em;
  border: 1px solid #ddd;
  color: #fff;
  overflow-x: scroll;
  padding: 0.5em 0.3em;
}
.sg-source pre code {
  background: transparent;
}
.js .sg-source {
  max-height: 0;
  overflow: hidden;
}
.js .sg-source.is-active,
.operamini .sg-source,
.legacy .sg-source {
  max-height: 2400px;
}
/* -------------------------------------------------------------------------
 Prettyprint
---------------------------------------------------------------------------- */
.pln {
  color: #fff;
}
/* plain text */
@media screen {
  .str,
  .string {
    color: #E6DB74;
  }
  /* string content */
  .kwd,
  .keyword {
    color: #66D9EF;
  }
  /* a keyword */
  .com,
  .comment {
    color: #75715E;
  }
  /* a comment */
  .typ {
    color: #A6E22E;
  }
  /* a type name */
  .lit,
  .number {
    color: #AE81FF;
  }
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* .pun, .opn, .clo { color: #660 } */
  .tag {
    color: #F92672;
  }
  /* a markup tag name */
  .atn {
    color: #A6E22E;
  }
  /* a markup attribute name */
  .atv {
    color: #E6DB74;
  }
  /* a markup attribute value */
  /*.dec, .var { color: #606 }*/
  /* a declaration; a variable name */
  .fun {
    color: #FF0000;
  }
  /* a function name */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun,
  .opn,
  .clo {
    color: #440;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  border-left: 1px solid #444;
  margin: 0 0 0 3.3em;
  /* IE indents via margin-left */
  padding: 0;
}
ol.linenums li {
  color: #bebec5;
  line-height: 1.5;
  padding-left: 0.8em;
}
/* -------------------------------------------------------------------------
 Legacy IE
---------------------------------------------------------------------------- */
/**
 * IE 7 Fixes
 */
.sg-color {
  *display: inline;
  zoom: 1;
}
/* End IE 7 Fixes */
/**
 * IE 6 Fixes
 */
pre {
  _white-space: pre;
  _white-space: pre-wrap;
  _word-wrap: break-word;
}
/* End IE 6 Fixes */
