main {
    top: 100px;
    min-height: calc(100vh - 86px) !important;
    padding: 0 15px 150px;
    header.section-title {
        margin-bottom: 40px;
        &.sub {
            padding-top: 105px;
        }
        h1 {
            border-left: 1px solid $black;
            font-weight: 100;
            letter-spacing: -1px;
            line-height: 1;
            padding-left: 14px;
            text-transform: uppercase;
            span {
                font-weight: bold;
            }
        }
    }
    hr {
        &.mt-100 {
            margin-top: 100px;
        }
    }
    @font-face {
        font-family: 'helvetica_neue';
        src: url('../assets/brand/font/HelveticaNeueLTStd-LtCn.eot');
        src: url('../assets/brand/font/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'), url('../assets/brand/font/HelveticaNeueLTStd-LtCn.woff2') format('woff2'), url('../assets/brand/font/HelveticaNeueLTStd-LtCn.woff') format('woff'), url('../assets/brand/font/HelveticaNeueLTStd-LtCn.ttf') format('truetype'), url('../assets/brand/font/HelveticaNeueLTStd-LtCn.svg#svgFontName') format('svg');
    }
}