main {
    top: 100px;
    min-height: calc(100vh - 86px) !important;
    padding: 150px 15px;
    header.section-title {
        margin-bottom: 40px;
        h1 {
            border-left: 1px solid $black;
            font-weight: 100;
            letter-spacing: -1px;
            line-height: 1;
            padding-left: 14px;
            text-transform: uppercase;
            span {
                font-weight: bold;
            }
        }
    }
}