@font-face {
    font-family: 'helvetica_neue';
    src: url('assets/brand/font/HelveticaNeueLTStd-LtCn.eot');
    src: url('assets/brand/font/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'), url('assets/brand/font/HelveticaNeueLTStd-LtCn.woff') format('woff'), url('assets/brand/font/HelveticaNeueLTStd-LtCn.ttf') format('truetype'), url('assets/brand/font/HelveticaNeueLTStd-LtCn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}