// Mobile
.col-4,
.col-8 {
    #switch-target {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

// Tablet
.col-8 {
    #switch-target {
        .col-sm-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}