<div id="colour-ratio" class="row">
    <div  class="col-sm-12">
        <header class="section-title sub">
            <h1>Website<br/><span>Colour Ratio</span></h1>
        </header>
    </div>
    <div  class="col-sm-12 col-md-4">
        <p>When applying colour to website pages, white is the primary and most used colour. This creates a clean and consistent design for our digital assets.</p>

        <p>Digital assets should follow a 60:40 ratio rule where 60% of the page is white, and the other 40% is a combination of other brand and background colours.</p>

        <p>This approach ensures maximum contrast for website imagery and brand colours.</p>

        <p><strong>Note:</strong> Images are not included in the 60:40 rule, but they should still adhere to brand guidelines outlined on page 15.</p>
    </div>
    <div  class="col-sm-12 col-md-8">
        <div style="display:flex;text-align:center;">
            <div style="width:60%;">60% White</div>
            <div style="width:40%;">40% Branded colours</div>
        </div>
        <div style="display:flex;width:100%;height:150px;border:1px solid#000;text-align:center;">
            <div style="width:60%;height:100%;"></div>
            <div style="display:flex;width:40%;height:100%;">
                <div style="background:#000;width:50%;height:100%;"></div>
                <div style="background:#b5b0a9;width:40%;height:100%;"></div>
                <div style="background:#218fa3;width:10%;height:100%;"></div>
            </div>
        </div>
    </div>
</div>