<div id="colour-ratio" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Website<br/><span>Colour Ratio</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>When applying colour to website pages, white is the primary and most used colour. This creates a clean and consistent design for our digital assets.</p>

        <p>Digital assets should follow a 60:40 ratio rule where 60% of the page is white, and the other 40% is a combination of other brand and background colours.</p>

        <p>This approach ensures maximum contrast for website imagery and brand colours.</p>

        <p><strong>Note:</strong> Images are not included in the 60:40 rule, but they should still adhere to brand guidelines outlined on page 15.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
    </div>
</div>