<div id="content-structure" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Website<br/><span>Content Structure</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase text-bold">Home page content structure</h5>
        <p>The Destination Gold Coast home page consists of a hierarchical content structure that is dictated by the main menu structure. This ensures an effective user experience with important information kept as high as possible while allowing essential
            supplementary content to be accessible as the user moves down the page.</p>

        <p>A significant majority of users don’t scroll down to see the whole page when visiting sites (especially returning visitors), so critical content (i.e. call-to-actions, site search) should always be ‘above the fold’ (visible on page load). Critical
            page content should be in the top 680px of the site.</p>

        <p>The basic content structure should consist of 5 sections:</p>
        <ol>
            <li>Navigation</li>
            <li>Promotional slider or header image</li>
            <li>Page introductory copy</li>
            <li>Page content body</li>
            <li>Footer</li>
        </ol>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h5 class="text-uppercase">Homepage desktop basic content structure</h5>
                <img src="assets/website/content-structure/desktop-content-structure.png" style="width:100%;" />
            </div>
            <div class="col-sm-12 col-md-4">
                <h5 class="text-uppercase">Mobile Grid</h5>
                <img src="assets/website/content-structure/mobile-content-structure.png" style="width:100%;" />
            </div>
        </div>
    </div>
</div>