<div id="content-blocks" class="row">
    <div  class="col-sm-12">
        <header class="section-title sub">
            <h1>Website<br/><span>Content blocks</span></h1>
        </header>
    </div>
    <div  class="col-sm-12 col-md-4">
        <h5 class="text-uppercase text-bold">Desktop columns & content blocks</h5>
        <p>The 12 columns can be divided into content blocks. The grid allows for a diverse array of content blocks to keep layouts and templates visually engaging.</p>

        <p>All 12 columns sit within the grid with 20px inner padding (desktop). Each content block is separated by 40px column padding. This ensures all content has consistent alignment.</p>

        <h5 class="text-uppercase text-bold">Tablet & small desktop columns & content blocks</h5>
        <p>Due to the lower resolution of tablets, the amount of available columns is reduced. This should be considered when designing new assets to keep important content as high on the page as possible.</p>

        <h5 class="text-uppercase text-bold">Mobile columns & content blocks</h5>
        <p>The 2 columns within the mobile grid create only two content blocks. In most situations however, a single content column should be used.</p>
    </div>
    <div  class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 mb-5">
                <h5 class="text-uppercase text-bold">Desktop columns and content blocks</h5>
                <img src="assets/website/content-blocks/desktop-columns-content-blocks.png" style="width:100%;" />
            </div>
            <div class="col-sm-12 col-md-6">
                <h5 class="text-uppercase text-bold">Table grid and columns</h5>
                <img src="assets/website/content-blocks/table-grid-columns.png" style="width:100%;" />
            </div>
            <div class="col-sm-12 col-md-6">
                <h5 class="text-uppercase text-bold">Mobile grid and columns</h5>
                <img src="assets/website/content-blocks/mobile-grid-columns.png" style="width:100%;" />
            </div>
        </div>
    </div>
</div>