<div id="website-spacing" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Website<br/><span>spacing</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>Spacing throughout each layout is based on natural incremental divisions of the 40px gutter.</p>

        <p>For example, to maintain a strong visual aesthetic use spacing of either:</p>
        <ul>
            <li>40 pixels</li>
            <li>20 pixels</li>
            <li>10 pixels</li>
            <li>5 pixels</li>
        </ul>

        <h5 class="text-uppercase text-bold">Example desktop content layout</h5>
        <ol>
            <li>Margin: 20px</li>
            <li>Column padding: 40px</li>
            <li>Content block spacing: 40px and 20px</li>
            <li>Content padding: 20px</li>
        </ol>

        <h5 class="text-uppercase text-bold">Example mobile content layout</h5>
        <ol start="5">
            <li>Margin: 10px</li>
            <li>Column padding: 20px</li>
            <li>Content block spacing: 10px</li>
            <li>Content padding: 20px</li>
        </ol>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="text-uppercase text-bold">Desktop content layout</h5>
                <img class="mb-5" src="assets/website/spacing/desktop-content-layout.png" style="width:100%;" />
            </div>
            <div id="switch-target" class="col-sm-12 col-md-6">
                <h5 class="text-uppercase text-bold">Mobile content layout</h5>
                <img src="assets/website/spacing/mobile-content-layout.png" style="width:100%;" />
            </div>
        </div>
    </div>
</div>