<div id="website-buttons" class="row">
    <div  class="col-sm-12">
        <header class="section-title sub">
            <h1>Website<br/><span>Buttons</span></h1>
        </header>
    </div>
    <div  class="col-sm-12 col-md-4">
        <p>There are three main types of buttons to cover all design purposes.</p>

        <h5 class="text-uppercase text-bold">Primary Button</h5 <p>The most used of the buttons. This button should be prioritised where ever possible. It is fit for use over light or calm backgrounds.</p>

        <h5 class="text-uppercase text-bold">Alternate Primary Button</h5>
        <p>A standard button format. This button should be used when clear visibility of the button is an issue, mainly over busy images where the primary button loses impact.</p>

        <h5 class="text-uppercase text-bold">Secondary Button</h5>
        <p>The secondary button is used for call-to-actions such as ‘Book Online’ and ‘Read More’.</p>

        <h5 class="text-uppercase text-bold">Mobile and Tablet Buttons</h5>
        <p>Buttons for mobile and tablet should follow the same style and interaction rules as set for desktop. For optimal usability on touch devices, button sizes should be enlarged to accommodate for imprecise interaction.</p>

    </div>
    <div  class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h5>Primary</h5>
                <div class="mb-5">
                    <p class="mb-0 font-weight-bold ">Static state</p>
                    <div style="display:flex; ">
                        <div class="mr-3">
                            <a class="btn text-uppercase py-0 px-4" style="border:1px solid #000;font-size:21px;line-height:50px;border-radius:0; ">Button 1</a>
                        </div>
                        <div class="my-auto">
                            50px
                        </div>
                    </div>
                    <p class="mb-0 mt-4 font-weight-bold">Hover state</p>
                    <div style="display:flex; ">
                        <div class="mr-3">
                            <a class="btn text-uppercase py-0 px-4" style="border:1px solid #000;color:#fff;background:#000;font-size:21px;line-height:50px;border-radius:0; ">Button 1</a>
                        </div>
                        <div class="my-auto">
                            50px
                        </div>
                    </div>
                    <p class="mb-0 mt-4 font-weight-bold">Click state</p>
                    <div style="display:flex; ">
                        <div class="mr-3">
                            <a class="btn text-uppercase py-0 px-4" style="border:1px solid #b5b0a9;color:#fff;background:#b5b0a9;font-size:21px;line-height:50px;border-radius:0; ">Button 1</a>
                        </div>
                        <div class="my-auto">
                            50px
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <div class="mb-3" style="display:flex;">
                        <div class="mr-3" style="width:50px;height:50px;border:1px solid #000;"></div>
                        <div class="my-auto"><strong>Fill: </strong> Transparent<br/><strong>Stroke:</strong> #000000</div>
                    </div>
                    <div class="mb-3" style="display:flex;">
                        <div class="mr-3" style="background:#000000;width:50px;height:50px;border:1px solid #000;"></div>
                        <div class="my-auto"><strong>Fill: </strong> #000000</div>
                    </div>
                    <div class="mb-3" style="display:flex;">
                        <div class="mr-3" style="background:#b5b0a9;width:50px;height:50px;border:1px solid #b5b0a9;"></div>
                        <div class="my-auto"><strong>Fill: </strong> #b5b0a9</div>
                    </div>
                </div>

                <p class="mb-2 text-uppercase" style="font-size:21px;">Button text</p>
                <p class="mb-0"><strong>Typeface: </strong> Helvetica Neue LT Std</p>
                <p class="mb-0"><strong>Style: </strong> Light Condensed</p>
                <p class="mb-0"><strong>Size: </strong> 21px</p>
                <p class="mb-0"><strong>Alignment: </strong> Centre</p>
                <p class="mb-0"><strong>Colour: </strong> #000000 or #ffffff</p>
                <p class="mb-0"><strong>Case: </strong> ALL CAPS</p>
            </div>
            <div class="col-sm-12 col-md-4 ">
                <h5>Alternate</h5>
                <div class="mb-5">
                    <p class="mb-0 font-weight-bold ">Static state</p>
                    <div style="display:flex; ">
                        <div class="mr-3">
                            <a class="btn text-uppercase py-0 px-4" style="background:#000;color:#fff;border:1px solid #000;font-size:21px;line-height:50px;border-radius:0; ">Button 1</a>
                        </div>
                        <div class="my-auto">
                            50px
                        </div>
                    </div>
                    <p class="mb-0 mt-4 font-weight-bold">Hover state</p>
                    <div style="display:flex; ">
                        <div class="mr-3">
                            <a class="btn text-uppercase py-0 px-4" style="border:1px solid #000;font-size:21px;line-height:50px;border-radius:0; ">Button 1</a>
                        </div>
                        <div class="my-auto">
                            50px
                        </div>
                    </div>
                    <p class="mb-0 mt-4 font-weight-bold">Click state</p>
                    <div style="display:flex; ">
                        <div class="mr-3">
                            <a class="btn text-uppercase py-0 px-4" style="border:1px solid #b5b0a9;color:#fff;background:#b5b0a9;font-size:21px;line-height:50px;border-radius:0; ">Button 1</a>
                        </div>
                        <div class="my-auto">
                            50px
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <div class="mb-3" style="display:flex;">
                        <div class="mr-3" style="background:#000000;width:50px;height:50px;border:1px solid #000;"></div>
                        <div class="my-auto"><strong>Fill: </strong> #000000</div>
                    </div>
                    <div class="mb-3" style="display:flex;">
                        <div class="mr-3" style="width:50px;height:50px;border:1px solid #000;"></div>
                        <div class="my-auto"><strong>Fill: </strong> Transparent<br/><strong>Stroke:</strong> #000000</div>
                    </div>
                    <div class="mb-3" style="display:flex;">
                        <div class="mr-3" style="background:#b5b0a9;width:50px;height:50px;border:1px solid #b5b0a9;"></div>
                        <div class="my-auto"><strong>Fill: </strong> #b5b0a9</div>
                    </div>
                </div>

                <p class="mb-2 text-uppercase" style="font-size:21px;">Button text</p>
                <p class="mb-0"><strong>Typeface: </strong> Helvetica Neue LT Std</p>
                <p class="mb-0"><strong>Style: </strong> Light Condensed</p>
                <p class="mb-0"><strong>Size: </strong> 21px</p>
                <p class="mb-0"><strong>Alignment: </strong> Centre</p>
                <p class="mb-0"><strong>Colour: </strong> #000000 or #ffffff</p>
                <p class="mb-0"><strong>Case: </strong> ALL CAPS</p>
            </div>
            <div class="col-sm-12 col-md-4 ">
                <h5>Secondary</h5>
                <div class="mb-5">
                    <p class="mb-0 font-weight-bold ">Static state</p>
                    <div style="display:flex; ">
                        <div class="mr-3">
                            <a class="btn text-uppercase py-0 px-4" style="background:#218fa3;color:#fff;border:1px solid #218fa3;font-size:21px;line-height:50px;border-radius:0; ">Button 1</a>
                        </div>
                        <div class="my-auto">
                            50px
                        </div>
                    </div>
                    <p class="mb-0 mt-4 font-weight-bold">Hover state</p>
                    <div style="display:flex; ">
                        <div class="mr-3">
                            <a class="btn text-uppercase py-0 px-4" style="color:#218fa3;border:1px solid #218fa3;font-size:21px;line-height:50px;border-radius:0; ">Button 1</a>
                        </div>
                        <div class="my-auto">
                            50px
                        </div>
                    </div>
                    <p class="mb-0 mt-4 font-weight-bold">Click state</p>
                    <div style="display:flex; ">
                        <div class="mr-3">
                            <a class="btn text-uppercase py-0 px-4" style="border:1px solid #b5b0a9;color:#fff;background:#b5b0a9;font-size:21px;line-height:50px;border-radius:0; ">Button 1</a>
                        </div>
                        <div class="my-auto">
                            50px
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <div class="mb-3" style="display:flex;">
                        <div class="mr-3" style="background:#218fa3;width:50px;height:50px;border:1px solid #000;"></div>
                        <div class="my-auto"><strong>Fill: </strong> #218fa3</div>
                    </div>
                    <div class="mb-3" style="display:flex;">
                        <div class="mr-3" style="width:50px;height:50px;border:1px solid #000;"></div>
                        <div class="my-auto"><strong>Fill: </strong> Transparent<br/><strong>Stroke:</strong> #000000</div>
                    </div>
                    <div class="mb-3" style="display:flex;">
                        <div class="mr-3" style="background:#b5b0a9;width:50px;height:50px;border:1px solid #b5b0a9;"></div>
                        <div class="my-auto"><strong>Fill: </strong> #b5b0a9</div>
                    </div>
                </div>

                <p class="mb-2 text-uppercase" style="font-size:21px;">Button text</p>
                <p class="mb-0"><strong>Typeface: </strong> Helvetica Neue LT Std</p>
                <p class="mb-0"><strong>Style: </strong> Light Condensed</p>
                <p class="mb-0"><strong>Size: </strong> 21px</p>
                <p class="mb-0"><strong>Alignment: </strong> Centre</p>
                <p class="mb-0"><strong>Colour: </strong> #000000 or #ffffff</p>
                <p class="mb-0"><strong>Case: </strong> ALL CAPS</p>
            </div>
        </div>
    </div>
</div>