<div id="website-buttons" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Website<br/><span>Buttons</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>There are three main types of buttons to cover all design purposes.</p>

        <h5 class="text-uppercase text-bold">Primary Button</h5 <p>The most used of the buttons. This button should be prioritised where ever possible. It is fit for use over light or calm backgrounds.</p>

        <h5 class="text-uppercase text-bold">Alternate Primary Button</h5>
        <p>A standard button format. This button should be used when clear visibility of the button is an issue, mainly over busy images where the primary button loses impact.</p>

        <h5 class="text-uppercase text-bold">Secondary Button</h5>
        <p>The secondary button is used for call-to-actions such as ‘Book Online’ and ‘Read More’.</p>

        <h5 class="text-uppercase text-bold">Mobile and Tablet Buttons</h5>
        <p>Buttons for mobile and tablet should follow the same style and interaction rules as set for desktop. For optimal usability on touch devices, button sizes should be enlarged to accommodate for imprecise interaction.</p>

    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h5>Primary button</h5>
            </div>
            <div class="col-sm-12 col-md-4">
                <h5>Alternate Primary button</h5>
            </div>
            <div class="col-sm-12 col-md-4">
                <h5>Secondary button</h5>
            </div>
        </div>
    </div>
</div>