<div id="website-typography" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Website<br/><span>Typography</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>Please note the typesetting specifications for large title; intro paragraph; H3 sub-title of card; standard paragraph; H2 subtitle; and tile body.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
    </div>
</div>