<div id="advertising-typography" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Print Branding<br/><span>Advertising Typography</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase">Example 1 - Print Advertisement</h5>
        <p>The ‘Helvetica Neue Condensed’ typeface family must always be used in the creation of Destination Gold Coast print advertisements.</p>

        <p>The example on the right demonstrates how copy in a print advertisement should be typeset.</p>

        <p>See next page for specifications and executions of Destination Gold Coast typographic formatting for this print advertisement.</p>

        <p><strong>Note:</strong> It’s imperative that copy is not placed over the main subject matter of the image. The designer is responsible for achieving a favourable image crop so that copy is readable, but also balanced within the composition, as
            per the example on the right.</p>

    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <p>SOMETHING</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase">Example 1 - Print Advertisement (cont)</h5>
        <p>Please note the typesetting specifications for the tagline, time and location, body copy and call-to-actions within an A4 print advertisement.</p>

        <p>The tagline, time and location, body copy and call-to-actions are individual paragraphs, that when typeset as per the example on the right, act as a single visual unit.</p>

        <p>Because print advertisements range in size, text formatting (point size, leading etc.) will vary from the listed specifications. In this case, the designer must consider the available space within the layout and resize the individual paragraphs
            as a group so that the proportions and spacing of the unit are maintained.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <p>SOMETHING</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase">Example 1 - Print Advertisement (cont)</h5>
        <p>Please note the design specifications for the vertical line and location icon within an A4 print advertisement.</p>

        <p>The vertical line and location icon are individual graphic elements that unify the visual unit and form part of Destination Gold Coast’s visual language.</p>

        <p>The designer must group these graphical elements with the paragraphs and resize the visual unit as a whole so that proportions and spacing are maintained.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <p>SOMETHING</p>
    </div>
</div>