<div id="website-typography" class="row">
    <div class="col-sm-12">
        <header class="section-title sub">
            <h1>Website<br/><span>Typography</span></h1>
        </header>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Please note the typesetting specifications for large title; intro paragraph; H3 sub-title of card; standard paragraph; H2 subtitle; and tile body.</p>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 mb-3">
                <img src="assets/website/typography/title-intro.png" style="width:100%;" />
            </div>
            <div class="col-sm-12 col-md-6">
                <h5 class="text-uppercase">Intro paragraph</h5>
                <p>Intro paragraph requires the class=”intro” on the p tag. All intro paragraphs have a 30px top margin under the breadcrumbs.
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h5 class="text-uppercase">Large Title</h5>
                <p>H2 large titles requires the class=”large” on the h2 tag and any text within the h2 needs to wrapped in a single span.</p>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>

            <div class="col-sm-12 col-md-6">
                <img src="assets/website/typography/sub-title-body.png" style="width:100%;" />
            </div>
            <div class="col-sm-12 col-md-6">
                <h5 class="text-uppercase">H3 Sub-Title of tile</h5>
                <h5 class="text-uppercase">Standard paragraph</h5>

            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>

    </div>
</div>
</div>
<hr>
<h5 class="text-uppercase">Pullout Quote</h5>
<p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF)</p>
<p class="mb-0"><strong>Style: </strong>77 Bold Condensed</p>
<p class="mb-0"><strong>Alignment: </strong>Centre</p>
<p class="mb-0"><strong>Colour: </strong>100% Black</p>
<p class="mb-0"><strong>Case: </strong>ALL CAPS</p>
</div>
<div class="col-sm-12 col-md-8">
    <img src="assets/print/brochure-typography/P36_Brochure_Example.png" style="width:100%;border:1px solid #eee" />
</div>
<div class="col-sm-12 my-5">
    <hr>
</div>
</div>
</div>
<div class="col-sm-12 col-md-4">
    <h5 class="text-uppercase">Example 2 - Brochure (cont)</h5>
    <p>Please note the typesetting specifications for the heading, circle/number, subheading, body copy and pull-out quote.</p>
</div>
<div class="col-sm-12 col-md-8">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h5 class="text-uppercase">Heading</h5>
            <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF) 77 Bold Condensed</p>
            <p class="mb-0"><strong>Point size: </strong>20pt</p>
            <p class="mb-0"><strong>Leading: </strong>24pt</p>
            <p class="mb-0"><strong>Alignment: </strong>Centre</p>
            <p class="mb-0"><strong>Colour: </strong>100% Black</p>
            <p class="mb-0"><strong>Case: </strong>ALL CAPS</p>
            <hr>
            <h5 class="text-uppercase">Circle / Number</h5>
            <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF) 77 Bold Condensed</p>
            <p class="mb-0"><strong>Point size: </strong>7.5pt</p>
            <p class="mb-0"><strong>Leading: </strong>9pt</p>
            <p class="mb-0"><strong>Alignment: </strong>Centre</p>
            <p class="mb-0"><strong>Vertical Justification: </strong>Centre</p>
            <p class="mb-0"><strong>Colour: </strong>100% Black</p>
            <p class="mb-0"><strong>Case: </strong>Normal</p>
            <hr>
            <h5 class="text-uppercase">Subheading</h5>
            <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF) 77 Bold Condensed</p>
            <p class="mb-0"><strong>Point size: </strong>10pt</p>
            <p class="mb-0"><strong>Leading: </strong>12pt</p>
            <p class="mb-0"><strong>Alignment: </strong>Centre</p>
            <p class="mb-0"><strong>Colour: </strong>100% Black</p>
            <p class="mb-0"><strong>Case: </strong>Normal</p>
            <hr>
            <h5 class="text-uppercase">Body Copy</h5>
            <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF) 47 Light Condensed</p>
            <p class="mb-0"><strong>Point size: </strong>9pt</p>
            <p class="mb-0"><strong>Leading: </strong>12pt</p>
            <p class="mb-0"><strong>Alignment: </strong>Center</p>
            <p class="mb-0"><strong>Colour: </strong>100% Black</p>
            <p class="mb-0"><strong>Case: </strong>Normal</p>
            <hr>

            <h5 class="text-uppercase">Pullout Quote</h5>
            <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF) 77 Bold Condensed</p>
            <p class="mb-0"><strong>Point size: </strong>12pt</p>
            <p class="mb-0"><strong>Leading: </strong>13pt</p>
            <p class="mb-0"><strong>Alignment: </strong>Centre</p>
            <p class="mb-0"><strong>Colour: </strong>100% Black</p>
            <p class="mb-0"><strong>Case: </strong>ALL CAPS</p>
        </div>
        <div class="col-sm-12 col-md-8">
            <img src="assets/print/brochure-typography/P37_Example.png" style="width:100%;" />
        </div>
    </div>
</div>
</div>