<div id="brochure-typography" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Print Branding<br/><span>Brochure Typography</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase">Example 1 - Brochure</h5>
        <p>The example on the right demonstrates how copy in an incentive brochure is typeset.</p>

        <p>See the next page for specifications and executions of Destination Gold Coast typographic formatting for this brochure.</p>

    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <p>SOMETHING</p>
    </div>

    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase">Example 1 - Brochure (cont)</h5>
        <p>Please note the typesetting specifications for the heading, circle/number, subheading, body copy and pull-out quote.</p>

    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <p>SOMETHING</p>
    </div>
</div>