<div id="colour-palette" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Print Branding<br/><span>Colour Palette</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase">Primary Colour Palette</h5>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div style="background:#fff;border:1px solid #000;width:150px;height:150px;"></div>
                <p class="font-weight-bold text-uppercase">White</p>
                <p class="font-weight-bold mb-0">Process</p>
                <p><strong>C:</strong>0, <strong>M:</strong>0, <strong>Y:</strong>0, <strong>K:</strong>0</p>
                <hr>
                <p class="font-weight-bold mb-0">Spot</p>
                <p>N/A</p>
                <hr>
            </div>

            <div class="col-sm-12 col-md-6">
                <div style="background:#000;width:100px;height:150px;display:inline-block;float:left;"></div>
                <div style="display:flex;">
                    <div style="background:#000; opacity:.25; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:0; text-align:center; width:50px;margin:0;line-height:50px;">25%</p>
                </div>
                <div style="display:flex;">
                    <div style="background:#000; opacity:.5; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:50px; text-align:center; width:50px;margin:0;line-height:50px;color:#fff;">50%</p>
                </div>
                <div style="display:flex;">
                    <div style="background:#000; opacity:.75; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:100px; text-align:center; width:50px;margin:0;line-height:50px;color:#fff;">75%</p>
                </div>
                <p class="font-weight-bold text-uppercase">Black</p>
                <p class="font-weight-bold mb-0">Process</p>
                <p><strong>C:</strong>0, <strong>M:</strong>0, <strong>Y:</strong>0, <strong>K:</strong>100</p>
                <hr>
                <p class="font-weight-bold mb-0">Spot</p>
                <p>Pantone Black C</p>
                <hr>
            </div>
        </div>

        <p>Black and white are the two colours that make up Destination Gold Coast’s primary colour palette. </p>
        <p>Tints of black can be used sparingly. In most cases, a light shade of grey is used as a background colour overlaid with text, only within brochures.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <h5 class="text-uppercase">Secondary Colour Palette</h5>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div style="background:#218fa3;width:100px;height:150px;display:inline-block;float:left;"></div>
                <div style="display:flex;">
                    <div style="background:#218fa3; opacity:.25; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:0; text-align:center; width:50px;margin:0;line-height:50px;">25%</p>
                </div>
                <div style="display:flex;">
                    <div style="background:#218fa3; opacity:.5; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:50px; text-align:center; width:50px;margin:0;line-height:50px;color:#fff;">50%</p>
                </div>
                <div style="display:flex;">
                    <div style="background:#218fa3; opacity:.75; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:100px; text-align:center; width:50px;margin:0;line-height:50px;color:#fff;">75%</p>
                </div>
                <p class="font-weight-bold text-uppercase">Teal</p>
                <p class="font-weight-bold mb-0">Process</p>
                <p><strong>C:</strong>100, <strong>M:</strong>22, <strong>Y:</strong>34, <strong>K:</strong>0</p>
                <hr>
                <p class="font-weight-bold mb-0">Spot</p>
                <p>Pantone 3145 C</p>
                <hr>
            </div>

            <div class="col-sm-12 col-md-4">
                <div style="background:#c4004b;width:100px;height:150px;display:inline-block;float:left;"></div>
                <div style="display:flex;">
                    <div style="background:#c4004b; opacity:.25; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:0; text-align:center; width:50px;margin:0;line-height:50px;">25%</p>
                </div>
                <div style="display:flex;">
                    <div style="background:#c4004b; opacity:.5; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:50px; text-align:center; width:50px;margin:0;line-height:50px;color:#fff;">50%</p>
                </div>
                <div style="display:flex;">
                    <div style="background:#c4004b; opacity:.75; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:100px; text-align:center; width:50px;margin:0;line-height:50px;color:#fff;">75%</p>
                </div>
                <p class="font-weight-bold text-uppercase">Watermelon</p>
                <p class="font-weight-bold mb-0">Process</p>
                <p><strong>C:</strong>0, <strong>M:</strong>100, <strong>Y:</strong>55, <strong>K:</strong>0</p>
                <hr>
                <p class="font-weight-bold mb-0">Spot</p>
                <p>Pantone 1925 C</p>
                <hr>
            </div>

            <div class="col-sm-12 col-md-4">
                <div style="background:#484545;width:100px;height:150px;display:inline-block;float:left;"></div>
                <div style="display:flex;">
                    <div style="background:#484545; opacity:.25; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:0; text-align:center; width:50px;margin:0;line-height:50px;">25%</p>
                </div>
                <div style="display:flex;">
                    <div style="background:#484545; opacity:.5; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:50px; text-align:center; width:50px;margin:0;line-height:50px;color:#fff;">50%</p>
                </div>
                <div style="display:flex;">
                    <div style="background:#484545; opacity:.75; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:100px; text-align:center; width:50px;margin:0;line-height:50px;color:#fff;">75%</p>
                </div>
                <p class="font-weight-bold text-uppercase">Charcoal</p>
                <p class="font-weight-bold mb-0">Process</p>
                <p><strong>C:</strong>68, <strong>M:</strong>62, <strong>Y:</strong>58, <strong>K:</strong>46</p>
                <hr>
                <p class="font-weight-bold mb-0">Spot</p>
                <p>Pantone Black 7 C</p>
                <hr>
            </div>

            <div class="col-sm-12 col-md-4">
                <div style="background:#747e79;width:100px;height:150px;display:inline-block;float:left;"></div>
                <div style="display:flex;">
                    <div style="background:#747e79; opacity:.25; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:0; text-align:center; width:50px;margin:0;line-height:50px;">25%</p>
                </div>
                <div style="display:flex;">
                    <div style="background:#747e79; opacity:.5; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:50px; text-align:center; width:50px;margin:0;line-height:50px;color:#fff;">50%</p>
                </div>
                <div style="display:flex;">
                    <div style="background:#747e79; opacity:.75; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:100px; text-align:center; width:50px;margin:0;line-height:50px;color:#fff;">75%</p>
                </div>
                <p class="font-weight-bold text-uppercase">Cool Grey</p>
                <p class="font-weight-bold mb-0">Process</p>
                <p><strong>C:</strong>57, <strong>M:</strong>36, <strong>Y:</strong>44, <strong>K:</strong>0</p>
                <hr>
                <p class="font-weight-bold mb-0">Spot</p>
                <p>Pantone 444 C</p>
                <hr>
            </div>

            <div class="col-sm-12 col-md-4">
                <div style="background:#b5b0a9;width:100px;height:150px;display:inline-block;float:left;"></div>
                <div style="display:flex;">
                    <div style="background:#b5b0a9; opacity:.25; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:0; text-align:center; width:50px;margin:0;line-height:50px;">25%</p>
                </div>
                <div style="display:flex;">
                    <div style="background:#b5b0a9; opacity:.5; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:50px; text-align:center; width:50px;margin:0;line-height:50px;color:#fff;">50%</p>
                </div>
                <div style="display:flex;">
                    <div style="background:#b5b0a9; opacity:.75; height:50px;width:50px;text-align:center;display:inline-block;"></div>
                    <p style="position: absolute; top:100px; text-align:center; width:50px;margin:0;line-height:50px;color:#fff;">75%</p>
                </div>
                <p class="font-weight-bold text-uppercase">Warm Grey</p>
                <p class="font-weight-bold mb-0">Process</p>
                <p><strong>C:</strong>29, <strong>M:</strong>26, <strong>Y:</strong>30, <strong>K:</strong>0</p>
                <hr>
                <p class="font-weight-bold mb-0">Spot</p>
                <p>Pantone Warm Grey 4 C</p>
                <hr>
            </div>

        </div>

        <p>The above colours are available as Destination Gold Coast’s secondary colours. They are rarely used in current print materials and should not be used without approval.</p>
        <p>Some of these colours are occasionally found on the Destination Gold Coast website.</p>
    </div>
</div>