<div id="image-formatting" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Print Branding<br/><span>Image Formatting</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>Photography is a critical design component that is used to express the essence of the Destination Gold Coast brand.</p>

        <p>When creating page layouts that utilise photographs, it is important to understand that Destination Gold Coast permits two types of image formatting. They are represented by ‘Example A’ and ‘Example B’ on the right.</p>

        <p>It is up to the designer and the Destination Gold Coast Digital Brand & Content Team to decide which formatting to employ, with the exception of press advertisements. Press advertisements should always employ fully bled images. Below is a guide
            listing permitted image formatting for various print collateral pieces.</p>

        <h5 class="text-uppercase text-bold">Example A</h5>
        <ul>
            <li>Postcards</li>
            <li>Flyers</li>
            <li>Brochure covers & inner pages</li>
            <li>Pull-up banners</li>
        </ul>
        <h5 class="text-uppercase text-bold">Example B</h5>
        <ul>
            <li>Press advertisements</li>
            <li>Postcards</li>
            <li>Flyers</li>
            <li>Pull-up banners</li>
            <li>Posters</li>
            <li>Invitations</li>
        </ul>
        <p>See next page for specifications and executions of Destination Gold Coast image formatting.</p>

    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p><strong>Example A</strong> - Press advertisement</p>

                <p><strong>Note</strong> - Do not use white borders for press advertisements.</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <p><strong>Example B</strong> - Brochure cover</p>

                <p><strong>Note</strong> - Press advertisements should always employ fully bled images.</p>
            </div>
        </div>
    </div>

    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase text-bold">Example A</h5>
        <p>The brochure features a white border around the image. The width of the white border is flexible, but its size should be determined by the physical size of the promotional piece.</p>
        <p>For example, the white border on the cover of an A4 brochure like ‘Example A’, would be no less than 10mm in width. Alternatively, in a smaller promotional piece, the white border in an event postcard like ‘Example B’, would be no less than 5mm
            in width.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p><strong>Format Example A</strong> - Brochure cover with white border.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p><strong>Format Example B</strong> - Promotional event postcard with white border.</p>
    </div>

    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase text-bold">Example B</h5>
        <p>The Press Advertisement features an image that is full bleed, i.e. image extends past the edge of the page.</p>
        <p>In the case of the A4 magazine advertisement, ‘Example A’, the designer should follow the publication bleed specifications.</p>
        <p>Alternatively, in a smaller promotional piece like an event postcard ,‘Example B’, the designer should consult with the printer as to their bleed requirements.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p><strong>Format Example A</strong> - Press advertisement with full bleed image.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p><strong>Format Example B</strong> - Promotional event postcard with full bleed image.</p>
    </div>

    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase text-bold">Example A</h5>
        <p>In a larger promotional piece, the white border in a pull-up banner like ‘Example A’, would be no less than 50mm* in width.</p>
        <p>In the case of a full bleed pull-up banner, ‘Example B’, the designer should consult with the printer as to their bleed requirements.</p>

        <p><strong>Note:</strong> The white border displayed in the pull-up banner artwork (right), measured 70mm. Therefore this was in keeping with the 50mm minimum specification of this guide.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p><strong>Format Example A</strong> - Pull-up banner with white border</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p><strong>Format Example B</strong> - Pull-up banner with full bleed image</p>
    </div>
</div>