<div id="website-typography" class="row">
    <div class="col-sm-12">
        <header class="section-title sub">
            <h1>Website<br/><span>Typography</span></h1>
        </header>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Please note the typesetting specifications for large title; intro paragraph; H3 sub-title of card; standard paragraph; H2 subtitle; and tile body.</p>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 mb-3">
                <img src="assets/website/typography/title-intro.png" style="width:100%;" />
            </div>
            <div class="col-sm-12 col-md-6">
                <h5 class="text-uppercase">Intro paragraph</h5>
                <p>Intro paragraph requires the class=”intro” on the p tag. All intro paragraphs have a 30px top margin under the breadcrumbs.
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h5 class="text-uppercase">Large Title</h5>
                <p>H2 large titles requires the class=”large” on the h2 tag and any text within the h2 needs to wrapped in a single span.</p>
            </div>
            <div class="col-sm-12">
                <hr>
            </div>

            <div class="col-sm-12 col-md-6">
                <img src="assets/website/typography/sub-title-body.png" style="width:100%;" />
            </div>
            <div class="col-sm-12 col-md-6">
                <h5 class="text-uppercase">H3 Sub-Title of tile</h5>
                <h5 class="text-uppercase">Standard paragraph</h5>

            </div>
            <div class="col-sm-12">
                <hr>
            </div>
        </div>

    </div>
</div>
</div>
<div class="col-sm-12 col-md-6">
    <p><strong>Example B</strong> - Brochure cover</p>
    <img src="assets/print/image-formatting/P25_Example_B.png" style="width:100%;" />
    <p><strong>Note</strong> - Press advertisements should always employ fully bled images.</p>
</div>
</div>
</div>
</div>
<div class="row justify-content-end">
    <div class="col-sm-12 col-md-8 my-5">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <h5 class="text-uppercase text-bold">Example A</h5>
        <p>The brochure features a white border around the image. The width of the white border is flexible, but its size should be determined by the physical size of the promotional piece.</p>
        <p>For example, the white border on the cover of an A4 brochure like ‘Example A’, would be no less than 10mm in width. Alternatively, in a smaller promotional piece, the white border in an event postcard like ‘Example B’, would be no less than 5mm
            in width.
        </p>
    </div>
    <div class="col-sm-12 col-md-4">
        <p><strong>Format Example A</strong> - Brochure cover with white border.</p>
        <img src="assets/print/image-formatting/P27_Example_A.png" style="width:100%;border:1px solid #eee;" />
    </div>
    <div class="col-sm-12 col-md-4">
        <p><strong>Format Example B</strong> - Promotional event postcard with white border.</p>
        <img src="assets/print/image-formatting/P27_Example_B.png" style="width:100%;border:1px solid #eee;" />
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-sm-12 col-md-8 my-5">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <h5 class="text-uppercase text-bold">Example B</h5>
        <p>The Press Advertisement features an image that is full bleed, i.e. image extends past the edge of the page.</p>
        <p>In the case of the A4 magazine advertisement, ‘Example A’, the designer should follow the publication bleed specifications.</p>
        <p>Alternatively, in a smaller promotional piece like an event postcard ,‘Example B’, the designer should consult with the printer as to their bleed requirements.</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <p><strong>Format Example A</strong> - Press advertisement with full bleed image.</p>
        <img src="assets/print/image-formatting/P28_Example_A.png" style="width:100%;" />
    </div>
    <div class="col-sm-12 col-md-4">
        <p><strong>Format Example B</strong> - Promotional event postcard with full bleed image.</p>
        <img src="assets/print/image-formatting/P28_Example_B.png" style="width:100%;" />
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-sm-12 col-md-8 my-5">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <h5 class="text-uppercase text-bold">Example A</h5>
        <p>In a larger promotional piece, the white border in a pull-up banner like ‘Example A’, would be no less than 50mm* in width.</p>
        <p>In the case of a full bleed pull-up banner, ‘Example B’, the designer should consult with the printer as to their bleed requirements.</p>

        <p><strong>Note:</strong> The white border displayed in the pull-up banner artwork (right), measured 70mm. Therefore this was in keeping with the 50mm minimum specification of this guide.</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <p><strong>Format Example A</strong> - Pull-up banner with white border</p>
        <img src="assets/print/image-formatting/P29_Example_A.png" style="width:100%; border:1px solid #eee;" />
    </div>
    <div class="col-sm-12 col-md-4">
        <p><strong>Format Example B</strong> - Pull-up banner with full bleed image</p>
        <img src="assets/print/image-formatting/P29_Example_B.png" style="width:100%;" />
    </div>
</div>
</div>
</div>