<div id="image-cropping" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Print Branding<br/><span>Image Cropping</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>When determining how a Destination Gold Coast image should be cropped, the designer should employ the “rule of thirds”.</p>

        <p>The rule of thirds is an essential photographic technique. It can be applied to any subject matter to improve composition and balance. Applying the rule of thirds means the subject matter within the image is not centred, instead, the focal point
            is positioned to one side.</p>

        <p>This technique not only draws the viewer’s eye into the composition, it also accommodates the effective placement of logos and typographic elements.</p>

        <p>The diagram on the far right (Example B) demonstrates how the rule of thirds has been applied to crop the original image (Example A) within an A4 press advertisement.</p>

    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p><strong>Example A</strong> - Original full frame image</p>
                <img src="assets/print/image-cropping/P30_Example_A.jpg" style="width:100%;" />
            </div>
            <div class="col-sm-12 col-md-6">
                <p><strong>Example B</strong> - Destination Gold Coast ‘approved’ image crop</p>
                <img src="assets/print/image-cropping/P30_Example_B.png" style="width:100%;" />
            </div>
        </div>
        <div class="col-sm-12 my-5">
            <hr>
        </div>
    </div>

    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>The diagram on the far right demonstrates how the rule of thirds has been applied to crop the original image (Example A) within a promotional postcard (Example B).</p>

        <p><strong>Note:</strong> To obtain Destination Gold Coast approved imagery, users can request access to our Digital Asset Management System by emailing:</p>
        <p><a title="Email creative@destinationgoldcoast.com" href="mailto:creative@destinationgoldcoast.com">creative@destinationgoldcoast.com</a></p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p><strong>Example A</strong> - Original full frame image</p>
                <img src="assets/print/image-cropping/P31_Example_A.jpg" style="width:100%;" />
            </div>
            <div class="col-sm-12 col-md-6">
                <p><strong>Example B</strong> - Destination Gold Coast ‘approved’ image crop</p>
                <img src="assets/print/image-cropping/P31_Example_B.jpg" style="width:100%;" />
            </div>
        </div>
    </div>
</div>