<div id="print-introduction" class="row">
    <div  class="col-sm-12">
        <header class="section-title sub">
            <h1>Print Branding<br/><span>Introduction</span></h1>
        </header>
    </div>
    <div  class="col-sm-12 col-md-4">
        <p>The following section contains the proper use of Destination Gold Coast’s brand, visual standards, and application of our corporate and consumer facing identity.</p>

        <p>The following pages outline the correct and consistent formatting of branded elements within print materials.</p>
    </div>
    <div  class="col-sm-12 col-md-8">
        <img style="width:100%;height:auto;" src="assets/print/introduction/Quiksilver-and-Roxy-Pro-Snapper-Rocks-Aerial.jpg" />
    </div>
</div>