<div id="logo-minimum" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Print Branding<br/><span>Logo Minimum Sizes</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>To maintain readability and visual presence, Destination Gold Coast logos must not appear smaller in width than the listed specifications.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-4 mb-4">
                <img src="assets/common/logos/master-positive.png" style="width:100%;margin-bottom:5px;padding-top:26px;" />
                <p class="text-center">25mm</p>
            </div>
            <div class="col-sm-12 col-md-4 mb-4">
                <img src="assets/common/logos/corporate-positive.jpg" style="width:100%;padding-top:4px;" />
                <p class="text-center">25mm</p>
            </div>
            <div class="col-sm-12 col-md-4 mb-4">
                <img src="assets/common/logos/global-positive.png" style="width:100%;margin-bottom:4px;" />
                <p class="text-center">25mm</p>
            </div>
            <div class="col-sm-12 col-md-4 mb-4">
                <img src="assets/common/logos/corporate-positive-unlocked.png" style="width:100%;margin-bottom:15px;padding-top:15px;" />
                <p class="text-center">40mm</p>
            </div>
            <div class="col-sm-12 col-md-4 mb-4">
                <img src="assets/common/logos/global-consumer-positive-unlocked.png" style="width:100%;margin-bottom:15px;padding-top:19px;" />
                <p class="text-center">50mm</p>
            </div>
            <div class="col-sm-12 col-md-4 mb-4">
                <img src="assets/common/logos/hashtag.png" style="width:100%;" />
                <p class="text-center">25mm</p>
            </div>
            <p><strong>Note: </strong>Examples are not 1:1 scale.</p>
        </div>
    </div>
</div>