<div id="logo-minimum" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Print Branding<br/><span>Logo Minimum Sizes</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>To maintain readability and visual presence, Destination Gold Coast logos must not appear smaller in width than the listed specifications.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
    </div>
</div>