<div id="logo-placement" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Print Branding<br/><span>Logo Placement</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>The following examples provide a range of situations that demonstrate how Destination Gold Coast logos can be displayed within various print material layouts.</p>

        <p>Please note that logos can either sit in the centre or range left, within a layout. The logo should always sit in the upper half of the layout and never at the foot of the page, unless approved by Destination Gold Coast Digital Brand and Content
            Team.
        </p>

        <p>It is also important to point out that the Destination Gold Coast logo should always be highly legible when overlaid on imagery.</p>

        <p>The designer is responsible for achieving a favourable image crop so that the logo is of appropriate size, has high contrast, is free from visual clutter and balanced within the composition as per Examples A, B, C, D and E.</p>

    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <p><strong>Example A</strong> - Press advertisement</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <p><strong>Example B</strong> - Brochure cover</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <p><strong>Example C</strong> - Table top pull-up banner</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <p><strong>Example D</strong> - Single image postcard layout</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <p><strong>Example E</strong> - Multiple image postcard layout</p>
            </div>
        </div>
    </div>
</div>