<div id="postcard-typography" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Print Branding<br/><span>Postcard Typography</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase">Example 3 - Postcard</h5>
        <p>The example on the right demonstrates how the copy on the reverse side of a promotional postcard should be typeset.</p>

        <p>Weight, size, spacing, case and alignment is used to distinguish headings, subheadings, pull-out quotes, body copy, bullet points and call-to-action to achieve an obvious visual hierarchy in line with Destination Gold Coast’s typographic formatting.</p>

    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h5 class="text-uppercase">Subheading</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF)</p>
                <p class="mb-0"><strong>Style: </strong>77 Bold Condensed</p>
                <p class="mb-0"><strong>Alignment: </strong>Left</p>
                <p class="mb-0"><strong>Colour: </strong>100% Black or White</p>
                <p class="mb-0"><strong>Case: </strong>ALL CAPS</p>
                <hr>
                <h5 class="text-uppercase">Pullout Quote</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF)</p>
                <p class="mb-0"><strong>Style: </strong>77 Bold Condensed</p>
                <p class="mb-0"><strong>Alignment: </strong>Centre</p>
                <p class="mb-0"><strong>Colour: </strong>100% Black or White</p>
                <p class="mb-0"><strong>Case: </strong>ALL CAPS</p>
                <hr>
                <h5 class="text-uppercase">Body copy & Bullet Points</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF)</p>
                <p class="mb-0"><strong>Style: </strong>77 Light Condensed</p>
                <p class="mb-0"><strong>Alignment: </strong>Left</p>
                <p class="mb-0"><strong>Colour: </strong>100% Black or White</p>
                <p class="mb-0"><strong>Case: </strong>Normal</p>
                <hr>
                <h5 class="text-uppercase">CTA</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF)</p>
                <p class="mb-0"><strong>Style: </strong>77 Bold Condensed</p>
                <p class="mb-0"><strong>Alignment: </strong>Left</p>
                <p class="mb-0"><strong>Colour: </strong>100% Black or White</p>
                <p class="mb-0"><strong>Case: </strong>Normal</p>
            </div>
            <div class="col-sm-12 col-md-8">
                <img src="assets/print/postcard-typography/P38_Example.png" style="width:100%;border:1px solid #eee;" />
            </div>
        </div>
    </div>

    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase">Example 1 - Postcard (cont)</h5>
        <p>Please note the typesetting specifications for the heading, body copy, bullet points and call-to-action.</p>

        <p>In the case of this postcard, the text has been typeset under the following considerations:</p>

        <ul>
            <li>Amount of provided copy</li>
            <li>The physical size of the postcard</li>
        </ul>

        <p>Based on these considerations, point size, leading and space after is different from other promotional materials so that an equal spread of information and overall visual balance was achieved in relation the postcards physical size.</p>
        <p>That said, it is important to note consistencies across each of the paragraph styles.</p>

        <ul>
            <li>The subheading is only 1pt larger than the other paragraph styles</li>
            <li>All paragraph styles are the same point size, with the exception of the subheading</li>
            <li>The leading is consistent across all paragraph styles</li>
            <li>2mm space-after has been used to space copy formatted with the same paragraph style</li>
            <li>The space-after different paragraph styles is greater than 2mm so as to visually separate a new block of information</li>
        </ul>

    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h5 class="text-uppercase">Subheading</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF) 77 Bold Condensed</p>
                <p class="mb-0"><strong>Point size: </strong>11pt</p>
                <p class="mb-0"><strong>Leading: </strong>13pt</p>
                <p class="mb-0"><strong>Alignment: </strong>Left</p>
                <p class="mb-0"><strong>Colour: </strong>100% Black</p>
                <p class="mb-0"><strong>Case: </strong>ALL CAPS</p>
                <hr>
                <h5 class="text-uppercase">Body Copy</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF) 47 Light Condensed</p>
                <p class="mb-0"><strong>Point size: </strong>10pt</p>
                <p class="mb-0"><strong>Leading: </strong>13pt</p>
                <p class="mb-0"><strong>Alignment: </strong>Left</p>
                <p class="mb-0"><strong>Colour: </strong>100% Black</p>
                <p class="mb-0"><strong>Case: </strong>Normal</p>
                <hr>
                <h5 class="text-uppercase">Bullet Points</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF) 47 Light Condensed</p>
                <p class="mb-0"><strong>Point size: </strong>10pt</p>
                <p class="mb-0"><strong>Leading: </strong>13pt</p>
                <p class="mb-0"><strong>Left Indent: </strong>5mm</p>
                <p class="mb-0"><strong>First Line Left Indent: </strong>-4mm</p>
                <p class="mb-0"><strong>Alignment: </strong>Left</p>
                <p class="mb-0"><strong>Colour: </strong>100% Black</p>
                <p class="mb-0"><strong>Case: </strong>Normal</p>
                <hr>
                <h5 class="text-uppercase">Call to action</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF) 77 Bold Condensed</p>
                <p class="mb-0"><strong>Point size: </strong>10pt</p>
                <p class="mb-0"><strong>Leading: </strong>13pt</p>
                <p class="mb-0"><strong>Alignment: </strong>Left</p>
                <p class="mb-0"><strong>Colour: </strong>100% Black</p>
                <p class="mb-0"><strong>Case: </strong>Normal</p>
            </div>
            <div class="col-sm-12 col-md-8">
                <img src="assets/print/postcard-typography/P39_Example.png" style="width:100%;" />
            </div>
        </div>
    </div>
</div>