<div id="pull-out-quotes" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Print Branding<br/><span>Pull-Out Quotes</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>Pull-out quotes draw attention to valuable pieces of information and can appear either on a white background (Example A) or overlay an image (Example B). They can also feature within a page layout as a typographic inset (Example C).</p>

        <p>Whenever a pull-out quote is used, the Destination Gold Coast quotation marks should appear centred, above, and below the quote.</p>

        <p>The indicated quotation marks are unique to Destination Gold Coast, therefore no other quotation marks can be used.</p>

        <p>Designers should use the examples provided on this page as a visual guide to determine the spacing and size of the quotation marks in relation to the quote.</p>

        <p>The quotation marks artwork files can be found within the style guide package.</p>

    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p><strong>Example A</strong> - Rear side of promotional postcard</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <p><strong>Example B</strong> - Annual Report (A4)</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <p><strong>Example C</strong> - Brochure inner spreads (A5)</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <p><strong>Example D</strong> - Destination Gold Coast quotation marks</p>
            </div>
        </div>
    </div>
</div>