<div id="typographic-hierarchy" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Print Branding<br/><span>Typographic Hierarchy</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase">Destination Gold Coast <br/>Paragraph Styles</h5>
        <p>It is Destination Gold Coast’s intention to make sure all copy within its promotional materials is professionally typeset, is pleasing to the eye and highly legible.</p>

        <p>The following guide shows the range of paragraph styles Destination Gold Coast print materials employ, as well as the formatting options available.</p>

        <p>Due to the myriad of promotional materials Destination Gold Coast produces, specific typographical formatting such as point size, leading and space-after are not prescribed. Instead, it is the responsibility of the designer to professionally typeset
            copy guided by the examples of specific formatting found in the following pages.</p>

    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h5 class="text-uppercase">Headings</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF)</p>
                <p class="mb-0"><strong>Style: </strong>77 Bold Condensed</p>
                <p class="mb-0"><strong>Alignment: </strong>Left or Centre</p>
                <p class="mb-0"><strong>Colour: </strong>Black or White</p>
                <p class="mb-0"><strong>Case: </strong> ALL CAPS</p>

                <hr>

                <h5 class="text-uppercase">Subheadings</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF)</p>
                <p class="mb-0"><strong>Style: </strong>77 Bold Condensed</p>
                <p class="mb-0"><strong>Alignment: </strong>Left or Centre</p>
                <p class="mb-0"><strong>Colour: </strong>Black or White</p>
                <p class="mb-0"><strong>Case: </strong>ALL CAPS</p>

                <hr>

                <h5 class="text-uppercase">Body copy</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF)</p>
                <p class="mb-0"><strong>Style: </strong>47 Light Condensed</p>
                <p class="mb-0"><strong>Alignment: </strong>Left or Centre</p>
                <p class="mb-0"><strong>Colour: </strong>Black</p>
                <p class="mb-0"><strong>Case: </strong>Normal</p>

            </div>
            <div class="col-sm-12 col-md-4">
                <h5 class="text-uppercase">Call to Action 1</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF)</p>
                <p class="mb-0"><strong>Style: </strong>47 Light Condensed</p>
                <p class="mb-0"><strong>Alignment: </strong>Left</p>
                <p class="mb-0"><strong>Colour: </strong>Black or White</p>
                <p class="mb-0"><strong>Case: </strong>Normal</p>

                <hr>

                <h5 class="text-uppercase">Call to Action 2</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF)</p>
                <p class="mb-0"><strong>Style: </strong>77 Bold Condensed</p>
                <p class="mb-0"><strong>Alignment: </strong>Left</p>
                <p class="mb-0"><strong>Colour: </strong>Black or White</p>
                <p class="mb-0"><strong>Case: </strong>Normal</p>

                <hr>

                <h5 class="text-uppercase">Pull-Out Quotes</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF)</p>
                <p class="mb-0"><strong>Style: </strong>77 Bold Condensed</p>
                <p class="mb-0"><strong>Alignment: </strong>Centre only</p>
                <p class="mb-0"><strong>Colour: </strong>Black or White</p>
                <p class="mb-0"><strong>Case: </strong>ALL CAPS</p>
            </div>

            <div class="col-sm-12 col-md-4">
                <h5 class="text-uppercase">Numbers</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue (OTF)</p>
                <p class="mb-0"><strong>Style: </strong>77 Bold Condensed</p>
                <p class="mb-0"><strong>Alignment: </strong>Left or Centre</p>
                <p class="mb-0"><strong>Colour: </strong>Black or White</p>
                <p class="mb-0"><strong>Case: </strong>ALL CAPS</p>
                <hr>
            </div>
        </div>
    </div>
</div>