@media (min-width: 768px) {
    header {
        .navbar {
            position: relative;
            top: auto !important;
            .navbar-nav {
                background: $white;
                flex-direction: row;
                justify-content: flex-end;
                position: initial;
                width: 100%;
                li {
                    .dropdown-menu {
                        &.show {
                            position: absolute;
                            width: auto;
                        }
                    }
                    a {
                        color: $black;
                    }
                }
                .dropdown-submenu {
                    .dropdown-menu {
                        &.show {
                            border-right: 1px;
                            border-left: 1px;
                            margin-right: 0;
                            margin-left: 0;
                            position: initial;
                        }
                    }
                }
            }
        }
    }
}