.footer {
    background: $black;
    height: calc( 100vh - 102px);
    padding-bottom: 40px;
    position: relative;
    width: 100%;
    img {
        width: 100%;
        max-width: 300px;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    p {
        bottom: 40px;
        position: absolute;
        text-align: center;
        width: 100%;
        a {
            color: $white;
        }
    }
}