header {
    .navbar {
        justify-content: flex-end;
        background: transparent;
        position: absolute;
        top: 27px;
        right: 0px;
        .navbar-toggler {
            padding: .5rem;
            &:not(.collapsed) {
                .icon-bar {
                    &.top-bar {
                        transform: translateY(6px) rotate(45deg);
                    }
                    &.middle-bar {
                        opacity: 0;
                        transform: translateX(-100%);
                    }
                    &.bottom-bar {
                        transform: translateY(-6px) rotate(-45deg);
                    }
                }
            }
            .icon-bar {
                background-color: $black;
                display: block;
                margin-top: 4px;
                transition: opacity, transform;
                transition-duration: 200ms;
                transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
                width: 22px;
                height: 2px;
            }
        }
        .navbar-nav {
            background: $charcoal;
            border-bottom-right-radius: .2rem;
            border-bottom-left-radius: .2rem;
            padding: 1rem 2rem;
            position: relative;
            top: 36px;
            li {
                .nav-item {
                    margin: 0 20px;
                    &.dropdown-toggle::after {
                        @include menu-carrot;
                    }
                }
                .dropdown-menu {
                    &.show {
                        background-color: $white;
                        border-radius: 0;
                        width: 100%;
                        position: static;
                        a {
                            color: $black;
                        }
                    }
                }
            }
            a {
                color: $white;
                text-transform: uppercase;
            }
            .dropdown-submenu {
                position: relative;
                a {
                    &.dropdown-toggle::after {
                        transform: rotate(-90deg);
                        vertical-align: .155em
                    }
                }
                .dropdown-menu {
                    top: 0;
                    left: 100%;
                    margin-left: .1rem;
                    margin-right: .1rem;
                    &.show {
                        padding-left: 1.5rem;
                        border: 0;
                    }
                }
            }
        }
    }
}