main {
    top: 100px;
    min-height: calc(100vh - 86px) !important;
    padding: 0 15px 150px;
    header.section-title {
        margin-bottom: 40px;
        // &.sub {
        //     padding-top: 105px;
        // }
        h1 {
            border-left: 1px solid $black;
            font-weight: 100;
            letter-spacing: -1px;
            line-height: 1;
            padding-left: 14px;
            text-transform: uppercase;
            span {
                font-weight: bold;
            }
        }
    }
    hr {
        &.my-100 {
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }
}