<div id="primary-typeface" class="row">
    <div class="col-sm-12">
        <header class="section-title sub">
            <h1>Brand Overview<br/><span>Primary Typeface</span></h1>
        </header>
    </div>

    <div class="col-sm-12 col-md-4">
        <p>Our primary brand typeface is Helvetica Neue, a contemporary sans serif typeface. Helvetica Neue was not only used in the creation of the logo, it is also the corporate typeface used throughout all our collateral.</p>

        <p>Used in four weights and two cases, this typeface provides our brand with a modern simplicity that is visually strong and highly legible.</p>
    </div>
    <div class="col-sm-12 col-md-8">
        <img src="assets/brand/primary-typeface/helvetica-neue.png" style="width:100%;" />
    </div>
</div>