<li class="nav-item dropdown">
    <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="brand" href="#">Brand Overview</a>
    <div class="dropdown-menu" aria-labelledby="brand">
        <a class="dropdown-item" href="#introduction">Style Guide Introduction</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#brand-summary">Brand Summary</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#tone-voice">DGC Tone of Voice</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#logo-devices">DGC Logo & Devices</a>

        <div class="dropdown-divider"></div>

        <div class="dropdown-submenu">
            <a class="dropdown-item-text dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="typefaces" href="#">DGC Typefaces</a>
            <div class="dropdown-menu" aria-labelledby="typefaces">
                <a class="dropdown-item" href="#primary-typeface">Primary</a>
                <a class="dropdown-item" href="#fall-back-typeface">Fall Back</a>
                <a class="dropdown-item" href="#decorative-typeface">Decorative</a>
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#photography">DGC Photography</a>

    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="print" href="#">Print Branding</a>
    <div class="dropdown-menu" aria-labelledby="print">
        <a class="dropdown-item" href="#print-introduction">Introduction</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item-text" href="#colour-palette">Colour Palette</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#logo-minimum">Logo Minimum Sizes</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#logo-clear">Logo Clear Space</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#prohibited-actions">Prohibited Actions</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#logo-placement">Logo Placement</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#image-formatting">Image Formatting</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#image-cropping">Image Cropping</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#typographic-hierarchy">Typographic Hierarchy</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#advertising-typography">Advertising Typography</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#brochure-typography">Brochure Typography</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#postcard-typography">Postcard Typography</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#pull-out-quotes">Pull-Out Quotes</a>

    </div>
</li>

<li class="nav-item dropdown">
    <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="digital" href="#">Digital Branding</a>
    <div class="dropdown-menu" aria-labelledby="digital">
        <a class="dropdown-item" href="#digital-introduction">Introduction</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#digital-colour">Colour Palette</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#digital-logo-minimum-sizes">Logo Minimum Sizes</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#digital-logo-clear-space">Logo Clear Space</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#digital-prohibited-actions">Prohibited Actions</a>

        <div class="dropdown-divider"></div>

        <div class="dropdown-submenu">
            <a class="dropdown-item-text dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="website" href="#">Website</a>
            <div class="dropdown-menu" aria-labelledby="website">
                <a class="dropdown-item" href="#website-introduction">Introduction</a>
                <a class="dropdown-item" href="#content-structure">Content Structure</a>
                <a class="dropdown-item" href="#vertical-grid">Vertical Grid</a>
                <a class="dropdown-item" href="#content-blocks">Content Blocks</a>
                <a class="dropdown-item" href="#website-spacing">Spacing</a>
                <a class="dropdown-item" href="#colour-ratio">Colour Ratio</a>
                <a class="dropdown-item" href="#website-buttons">Buttons</a>
                <a class="dropdown-item" href="#typographic-hierarchy">Typographic Hierarchy</a>
                <a class="dropdown-item" href="#website-typography">Typographic</a>
            </div>
        </div>
    </div>
</li>