<div id="vertical-grid" class="row">
    <div class="col-sm-12">
        <header class="section-title sub">
            <h1>Website<br/><span>Vertical Grid</span></h1>
        </header>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>For a contemporary and functional experience across all new websites, a responsive, mobile-first fluid grid system should be implemented. This should appropriately scale up to 12 columns as the device or browser size increases.</p>

        <p>This allows a consistent experience for all screen sizes and gives an accessible, industry standard framework that will future-proof the build of all new websites for Destination Gold Coast.</p>

        <p>To maintain website proportions, the grid is set to a max content width of 1140px with 40px column padding for desktop and 20px column padding for mobile.</p>

        <p><strong>Note:</strong> While the grid for content is locked to a maximum 1140px for desktop, features such as header images, parallax images, carousels and background colours can continue to expand with the browser size to create a contemporary
            view.
        </p>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h5 class="text-uppercase">Desktop grid</h5>
                <img src="assets/website/vertical-grid/desktop-grid.png" style="width:100%;" />
            </div>
            <div class="col-sm-12 col-md-3">
                <h5 class="text-uppercase">Tablet grid</h5>
                <img src="assets/website/vertical-grid/tablet-grid.png" style="width:100%;" />
            </div>
            <div class="col-sm-12 col-md-3">
                <h5 class="text-uppercase">Mobile grid</h5>
                <img src="assets/website/vertical-grid/mobile-grid.png" style="width:100%;" />
            </div>
        </div>
    </div>
</div>