<div id="typographic-hierarchy" class="row">
    <div class="col-sm-12">
        <header class="section-title sub">
            <h1>Website<br/><span>Typographic Hierarchy</span></h1>
        </header>
    </div>
    <div class="col-sm-12 col-md-4">
        <h5 class="text-uppercase text-bold">Destination Gold Coast website paragraph styles</h5>
        <p>It is Destination Gold Coast’s intention to ensure all copy used for digital assets is professionally typeset, pleasing to the eye and highly legible.</p>

        <p>The following guide lists the range of paragraph styles the Destination Gold Coast website employs, and the correct formatting for each.</p>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h5 class="text-uppercase">H2 Large Title</h5>
                <p class="mb-0"><strong>Typeface: </strong>Brandon Grotesque</p>
                <p class="mb-0"><strong>Style: </strong>Regular</p>
                <p class="mb-0"><strong>Size: </strong>40px</p>
                <p class="mb-0"><strong>Line height: </strong>N/A</p>
                <p class="mb-0"><strong>Alignment: </strong>Centre</p>
                <p class="mb-0"><strong>Colour: </strong>#1e1e1e</p>
                <p class="mb-0"><strong>Case: </strong>ALL CAPS</p>
                <hr>
                <h5 class="text-uppercase">Intro Paragraph</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue LT Std</p>
                <p class="mb-0"><strong>Style: </strong>Light Condensed</p>
                <p class="mb-0"><strong>Size: </strong>21px</p>
                <p class="mb-0"><strong>Line height: </strong>27px</p>
                <p class="mb-0"><strong>Alignment: </strong>Left or Centre</p>
                <p class="mb-0"><strong>Colour: </strong>#1e1e1e</p>
                <p class="mb-0"><strong>Case: </strong>Normal</p>
                <hr>
                <h5 class="text-uppercase">Standard Paragraph</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue LT Std</p>
                <p class="mb-0"><strong>Style: </strong>Light Condensed</p>
                <p class="mb-0"><strong>Size: </strong>21px</p>
                <p class="mb-0"><strong>Line height: </strong>27px</p>
                <p class="mb-0"><strong>Alignment: </strong>Left or Centre</p>
                <p class="mb-0"><strong>Colour: </strong>#595959</p>
                <p class="mb-0"><strong>Case: </strong>Normal</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <h5 class="text-uppercase">H2 Subtitle</h5>
                <p class="mb-0"><strong>Typeface: </strong>Brandon Grotesque</p>
                <p class="mb-0"><strong>Style: </strong>Regular</p>
                <p class="mb-0"><strong>Size: </strong>30px</p>
                <p class="mb-0"><strong>Line height: </strong>N/A</p>
                <p class="mb-0"><strong>Alignment: </strong>Centre</p>
                <p class="mb-0"><strong>Colour: </strong>#1e1e1e</p>
                <p class="mb-0"><strong>Case: </strong>ALL CAPS</p>
                <hr>
                <h5 class="text-uppercase">H3 Sub-title of card</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue LT Std</p>
                <p class="mb-0"><strong>Style: </strong>Light Condensed</p>
                <p class="mb-0"><strong>Size: </strong>21px</p>
                <p class="mb-0"><strong>Line height: </strong>27px</p>
                <p class="mb-0"><strong>Alignment: </strong>Left or Centre</p>
                <p class="mb-0"><strong>Colour: </strong>#1e1e1e</p>
                <p class="mb-0"><strong>Case: </strong>ALL CAPS</p>
                <hr>
                <h5 class="text-uppercase">H3 Sub sub title</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue LT Std</p>
                <p class="mb-0"><strong>Style: </strong>Regular</p>
                <p class="mb-0"><strong>Size: </strong>24px</p>
                <p class="mb-0"><strong>Line height: </strong>N/A</p>
                <p class="mb-0"><strong>Alignment: </strong>Left or Centre</p>
                <p class="mb-0"><strong>Colour: </strong>#595959</p>
                <p class="mb-0"><strong>Case: </strong>ALL CAPS</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <h5 class="text-uppercase">Tile Body</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue LT Std</p>
                <p class="mb-0"><strong>Style: </strong>Light Condensed</p>
                <p class="mb-0"><strong>Size: </strong>18px</p>
                <p class="mb-0"><strong>Line height: </strong>21px</p>
                <p class="mb-0"><strong>Alignment: </strong>Left</p>
                <p class="mb-0"><strong>Colour: </strong>#999</p>
                <p class="mb-0"><strong>Case: </strong>Normal</p>
                <hr>
                <h5 class="text-uppercase">Lists</h5>
                <p class="mb-0"><strong>Typeface: </strong>Helvetica Neue LT Std</p>
                <p class="mb-0"><strong>Style: </strong>Light Condensed</p>
                <p class="mb-0"><strong>Size: </strong>12px</p>
                <p class="mb-0"><strong>Line height: </strong>18px</p>
                <p class="mb-0"><strong>Alignment: </strong>Left</p>
                <p class="mb-0"><strong>Colour: </strong>#999</p>
                <p class="mb-0"><strong>Case: </strong>Normal</p>
                <hr>
            </div>
        </div>
    </div>
</div>