<div id="digital-logo-clear-space" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Digital Branding<br/><span>Logo Clear Space</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>Destination Gold Coast logos must at all times be perfectly legible, without obstruction. A minimum area of clear space around all Destination Gold Coast logos must be maintained.</p>

        <p>Refer to the diagram (right) to calculate minimum area of clear space that must surround Destination Gold Coast logos.</p>

        <ul>
            <li>Clear space above and below the logo (X), must be equal to that of the Destination Gold Coast logos total height, at the size the logo appears within the design.</li>
            <li>Clear space on either side of the logo (Y), must be equal to that of the letter ‘O’ width, at the size it appears within the design.</li>
        </ul>

    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <img style="width:100%;height:auto;" src="assets/digital/introduction/Boy-on-rock-at-Quiksilver-Pro-black-and-white.jpg" />
    </div>
</div>