<div class="row">
    <div id="switch-target" class="col-sm-12 col-md-4">
        <header class="section-title">
            <h1>Brand<br/><span>Summary</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-4">Placeholder</div>
            <hr>
            <div class="col-sm-8">Placeholder</div>
            <hr>
            <div class="col-sm-4">Placeholder</div>
            <hr>
            <div class="col-sm-8">Placeholder</div>
            <hr>
            <div class="col-sm-4">Placeholder</div>
            <hr>
            <div class="col-sm-8">Placeholder</div>
        </div>

    </div>
</div>