<div class="row">
    <div class="col-sm-12">
        <header class="section-title">
            <h1>Decorative Typeface<br/><span>Black Diamond</span></h1>
        </header>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Black Diamond was used in the creation of the We are Gold Coast “Hashtag” device and is to be used sparingly and only under special circumstances.
        </p>

        <p>Users must first seek permission from Destination Gold Coast should they wish to use the Black Diamond typeface within any promotional materials.</p>

    </div>
    <div class="col-sm-12 col-md-6">
        <p>1 2 3 4 5 6 7 8 9 0</p>
        <p>!@#$%&*()+
            <>/?,.+=:;”</p>
        <p>A B C D E F G H i j</p>
        <p>k l m n o p q r s t</p>
        <p>u v w x y z</p>
    </div>
</div>