<div class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title">
            <h1>Decorative Typeface<br/><span>Black Diamond</span></h1>
        </header>
    </div>

    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>Photography is a critical visual component used to express the essence of the Destination Gold Coast brand. A compelling image can capture the imagination of a traveller or provide a glimpse into life on the Gold Coast.</p>
        <p>Our research shows people have a stereotypical preconception of the Gold Coast. This preconception is that the Gold Coast is known for saturated blue skies, golden glowing sand and flawless talent. Our destination is so much more than this, which
            is why our photographic style must always reflect the “REAL”us. The real colour and people of the Gold Coast. The imagery we use affects the way the viewer feels about the Gold Coast. We choose warm tones, combined with natural colour palettes
            that reflect our diverse landscape. We don’t oversaturate imagery.</p>
        <p>Our images are honest, emotionally potent and feature real people. Whether we are capturing a moment of connection between loved ones, the defiant look in the eyes of a surfer about to paddle out, or the contagious giggles of children being children.
            Our people first approach to imagery conveys a genuine sense of what we stand for - connection, celebration and enrichment.</p>
        <p><strong>Note:</strong> To obtain Destination Gold Coast approved imagery, users can request access to our Digital Asset Management System by emailing:</p>
        <p><a title="Email creative@destinationgoldcoast.com" href="mailto:creative@destinationgoldcoast.com">creative@destinationgoldcoast.com</a></p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div id="switch-target" class="col-sm-12 col-md-4">
                <figure>
                    <img src="https://www.destinationgoldcoast.com/portals/0/Skins/DGC/tiles/390x300-Places-SurfersParadise-SeanScott.jpg" style="width:100%;height:auto;" />
                </figure>
            </div>
            <div id="switch-target" class="col-sm-12 col-md-4">
                <figure>
                    <img src="https://www.destinationgoldcoast.com/portals/0/Skins/DGC/tiles/390x300-Places-SurfersParadise-SeanScott.jpg" style="width:100%;height:auto;" />
                </figure>
            </div>
            <div id="switch-target" class="col-sm-12 col-md-4">
                <figure>
                    <img src="https://www.destinationgoldcoast.com/portals/0/Skins/DGC/tiles/390x300-Places-SurfersParadise-SeanScott.jpg" style="width:100%;height:auto;" />
                </figure>
            </div>
            <div id="switch-target" class="col-sm-12 col-md-4">
                <figure>
                    <img src="https://www.destinationgoldcoast.com/portals/0/Skins/DGC/tiles/390x300-Places-SurfersParadise-SeanScott.jpg" style="width:100%;height:auto;" />
                </figure>
            </div>
            <div id="switch-target" class="col-sm-12 col-md-4">
                <figure>
                    <img src="https://www.destinationgoldcoast.com/portals/0/Skins/DGC/tiles/390x300-Places-SurfersParadise-SeanScott.jpg" style="width:100%;height:auto;" />
                </figure>
            </div>
            <div id="switch-target" class="col-sm-12 col-md-4">
                <figure>
                    <img src="https://www.destinationgoldcoast.com/portals/0/Skins/DGC/tiles/390x300-Places-SurfersParadise-SeanScott.jpg" style="width:100%;height:auto;" />
                </figure>
            </div>
            <div id="switch-target" class="col-sm-12 col-md-4">
                <figure>
                    <img src="https://www.destinationgoldcoast.com/portals/0/Skins/DGC/tiles/390x300-Places-SurfersParadise-SeanScott.jpg" style="width:100%;height:auto;" />
                </figure>
            </div>
            <div id="switch-target" class="col-sm-12 col-md-4">
                <figure>
                    <img src="https://www.destinationgoldcoast.com/portals/0/Skins/DGC/tiles/390x300-Places-SurfersParadise-SeanScott.jpg" style="width:100%;height:auto;" />
                </figure>
            </div>
            <div id="switch-target" class="col-sm-12 col-md-4">
                <figure>
                    <img src="https://www.destinationgoldcoast.com/portals/0/Skins/DGC/tiles/390x300-Places-SurfersParadise-SeanScott.jpg" style="width:100%;height:auto;" />
                </figure>
            </div>
        </div>
    </div>

</div>