<div id="digital-colour" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Digital Branding<br/><span>Colour Palette</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase text-bold">Primary Colour Palette</h5>
        <div class="row">
            <div class="col-sm-12 col-md-6">

                <h5 class="text-uppercase text-bold">White</h5>
            </div>
            <div class="col-sm-12 col-md-6">

                <h5 class="text-uppercase text-bold">Black</h5>
            </div>
        </div>
        <p>Black and white are the two colours that make up Destination Gold Coast’s primary colour palette.</p>

        <p>Tints of black can be used sparingly. In most cases, a light shade of grey is used as a background colour overlaid with text, only within brochures.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <h5 class="text-uppercase text-bold">Secondary Colour Palette</h5>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <h5 class="text-uppercase text-bold">Teal</h5>
            </div>
            <div class="col-sm-6 col-md-4">
                <h5 class="text-uppercase text-bold">Watermelon</h5>
            </div>
            <div class="col-sm-6 col-md-4">
                <h5 class="text-uppercase text-bold">Charcoal</h5>
            </div>
            <div class="col-sm-6 col-md-4">
                <h5 class="text-uppercase text-bold">Cool Grey</h5>
            </div>
            <div class="col-sm-6 col-md-4">
                <h5 class="text-uppercase text-bold">Warm Grey</h5>
            </div>
        </div>

        <p>The above colours are available as Destination Gold Coast’s secondary colours. They are rarely used in current print materials and should not be used without approval.</p>
        <p>Some of these colours are occasionally found on the Destination Gold Coast website.</p>
    </div>
</div>