<div id="digital-colour" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Digital Branding<br/><span>Colour Palette</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase text-bold">Primary Colour Palette</h5>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div style="background:#fff;border:1px solid #000;width:150px;height:150px;"></div>
                <p class="font-weight-bold text-uppercase">White</p>
                <p class="font-weight-bold mb-0">RGB</p>
                <p><strong>R:</strong>255, <strong>G:</strong>255, <strong>B:</strong>255</p>
                <hr>
                <p class="font-weight-bold mb-0">HEX</p>
                <p>#FFFFFF</p>
                <hr>
            </div>
            <div class="col-sm-12 col-md-6">
                <div style="background:#000;border:1px solid #000;width:150px;height:150px;"></div>
                <p class="font-weight-bold text-uppercase">Black</p>
                <p class="font-weight-bold mb-0">RGB</p>
                <p><strong>R:</strong>0, <strong>G:</strong>0, <strong>B:</strong>0</p>
                <hr>
                <p class="font-weight-bold mb-0">HEX</p>
                <p>#000000</p>
                <hr>
            </div>
        </div>
        <p>Black and white are the two colours that make up Destination Gold Coast’s primary colour palette.</p>

        <p>Tints of black can be used sparingly. In most cases, a light shade of grey is used as a background colour overlaid with text, only within brochures.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <h5 class="text-uppercase text-bold">Secondary Colour Palette</h5>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div style="background:#218fa3;border:1px solid #218fa3;width:150px;height:150px;"></div>
                <p class="font-weight-bold text-uppercase">Teal</p>
                <p class="font-weight-bold mb-0">RGB</p>
                <p><strong>R:</strong>33, <strong>G:</strong>143, <strong>B:</strong>163</p>
                <hr>
                <p class="font-weight-bold mb-0">HEX</p>
                <p>#218fa3</p>
                <hr>
            </div>
            <div class="col-sm-6 col-md-4">
                <div style="background:#c4004b;border:1px solid #c4004b;width:150px;height:150px;"></div>
                <p class="font-weight-bold text-uppercase">Watermelon</p>
                <p class="font-weight-bold mb-0">RGB</p>
                <p><strong>R:</strong>196, <strong>G:</strong>0, <strong>B:</strong>75</p>
                <hr>
                <p class="font-weight-bold mb-0">HEX</p>
                <p>#c4004b</p>
                <hr>
            </div>
            <div class="col-sm-6 col-md-4">
                <div style="background:#484545;border:1px solid #484545;width:150px;height:150px;"></div>
                <p class="font-weight-bold text-uppercase">Charcoal</p>
                <p class="font-weight-bold mb-0">RGB</p>
                <p><strong>R:</strong>72, <strong>G:</strong>69, <strong>B:</strong>69</p>
                <hr>
                <p class="font-weight-bold mb-0">HEX</p>
                <p>#484545</p>
                <hr>
            </div>
            <div class="col-sm-6 col-md-4">
                <div style="background:#747e79;border:1px solid #747e79;width:150px;height:150px;"></div>
                <p class="font-weight-bold text-uppercase">Cool Grey</p>
                <p class="font-weight-bold mb-0">RGB</p>
                <p><strong>R:</strong>116, <strong>G:</strong>126, <strong>B:</strong>121</p>
                <hr>
                <p class="font-weight-bold mb-0">HEX</p>
                <p>#747e79</p>
                <hr>
            </div>
            <div class="col-sm-6 col-md-4">
                <div style="background:#b5b0a9;border:1px solid #b5b0a9;width:150px;height:150px;"></div>
                <p class="font-weight-bold text-uppercase">Warm Grey</p>
                <p class="font-weight-bold mb-0">RGB</p>
                <p><strong>R:</strong>181, <strong>G:</strong>176, <strong>B:</strong>169</p>
                <hr>
                <p class="font-weight-bold mb-0">HEX</p>
                <p>#b5b0a9</p>
                <hr>
            </div>
        </div>
        <p>The above colours are available as Destination Gold Coast’s secondary colours. They are rarely used in current print materials and should not be used without approval.</p>
        <p>Some of these colours are occasionally found on the Destination Gold Coast website.</p>
    </div>
</div>