<div id="digital-introduction" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Digital Branding<br/><span>Introduction</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>The following outlines Destination Gold Coast’s visual standards, proper use, application and the correct and consistent formatting of branded elements within digital channels.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <img style="width:100%;height:auto;" src="assets/digital/introduction/Boy-on-rock-at-Quiksilver-Pro-black-and-white.jpg" />
    </div>
</div>