<div id="digital-logo-minimum-sizes" class="row">
    <div  class="col-sm-12">
        <header class="section-title sub">
            <h1>Digital Branding<br/><span>Logo Minimum Sizes</span></h1>
        </header>
    </div>
    <div  class="col-sm-12 col-md-4">
        <p>To maintain readability and visual presence, all Destination Gold Coast logos must not appear smaller in width than the listed specifications.</p>
    </div>
    <div  class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-12 col-md-4 mb-4 text-center">
                <img src="assets/common/logos/master-positive.png" style="max-width:100px;width:100%;margin-bottom:5px;padding-top:26px;" />
                <p>100px</p>
            </div>
            <div class="col-sm-12 col-md-4 mb-4 text-center">
                <img src="assets/common/logos/corporate-positive.jpg" style="max-width:100px;width:100%;padding-top:4px;" />
                <p>100px</p>
            </div>
            <div class="col-sm-12 col-md-4 mb-4 text-center">
                <img src="assets/common/logos/global-positive.png" style="max-width:100px;width:100%;margin-bottom:4px;" />
                <p>100px</p>
            </div>
            <div class="col-sm-12 col-md-4 mb-4 text-center">
                <img src="assets/common/logos/corporate-positive-unlocked.png" style="max-width:140px;width:100%;margin-bottom:15px;padding-top:15px;" />
                <p>140px</p>
            </div>
            <div class="col-sm-12 col-md-4 mb-4 text-center">
                <img src="assets/common/logos/global-consumer-positive-unlocked.png" style="max-width:180px;width:100%;margin-bottom:15px;padding-top:19px;" />
                <p>180px</p>
            </div>
            <div class="col-sm-12 col-md-4 mb-4 text-center">
                <img src="assets/common/logos/hashtag.png" style="max-width:100px;width:100%;" />
                <p>100px</p>
            </div>
            <p><strong>Note: </strong>Examples may not be to 1:1 scale.</p>
        </div>
    </div>
</div>