<div id="digital-logo-minimum-sizes" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Digital Branding<br/><span>Logo Minimum Sizes</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>To maintain readability and visual presence, all Destination Gold Coast logos must not appear smaller in width than the listed specifications.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <img style="width:100%;height:auto;" src="assets/digital/introduction/Boy-on-rock-at-Quiksilver-Pro-black-and-white.jpg" />
    </div>
</div>