<div id="digital-prohibited-actions" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Digital Branding<br/><span>Prohibited Actions</span></h1>
        </header>
    </div>

    <div class="col-sm-12 col-md-3 mb-3 text-center">
        <img src="assets/print/prohibited-actions/DGC_Logo_Wrong1.png" style="width:100%;margin-top:20px;padding:30px;" />
        <p>Do not deviate from Destination Gold Coast corporate colour palette.</p>
    </div>
    <div class="col-sm-12 col-md-3 mb-3 text-center">
        <img src="assets/print/prohibited-actions/DGC_Logo_Wrong2.png" style="width:100%;padding:30px;" />
        <p>Do not disproportionately stretch the logo vertically or horizontally.</p>
    </div>
    <div class="col-sm-12 col-md-3 mb-3 text-center">
        <img src="assets/print/prohibited-actions/DGC_Logo_Wrong3.png" style="width:100%;margin-top:21px;padding:30px;" />
        <p>Do not change any of the typographical characters to a different typeface.</p>
    </div>
    <div class="col-sm-12 col-md-3 mb-3 text-center">
        <img src="assets/print/prohibited-actions/DGC_Logo_Wrong4.png" style="width:100%;margin-top:20px;padding:30px;" />
        <p>Do not apply a stroke, of any size or colour to any of the Destination Gold Coast logos.</p>
    </div>
    <div class="col-sm-12 col-md-3 mb-3 text-center">
        <img src="assets/print/prohibited-actions/DGC_Logo_Wrong5.png" style="width:100%;margin-top:12px;padding:30px;background:#404040;" />
        <p>Do not place a positive Destination Gold Coast logo on a background with low contrast.</p>
    </div>
    <div class="col-sm-12 col-md-3 mb-3 text-center">
        <img src="assets/print/prohibited-actions/DGC_Logo_Wrong6.png" style="width:100%;padding:30px;" />
        <p>Do not resize any individual element or group of elements within any Destination Gold Coast logo.</p>
    </div>
    <div class="col-sm-12 col-md-3 mb-3 text-center">
        <img src="assets/print/prohibited-actions/DGC_Logo_Wrong7.png" style="width:100%;margin-top:12px;padding:30px;" />
        <p>Do not reposition any of Destination Gold Coast logos graphical elements.</p>
    </div>
</div>