<div id="brand-summary" class="row">
    <div  class="col-sm-12">
        <header class="section-title sub">
            <h1>Brand Overview<br/><span>Brand Summary</span></h1>
        </header>
    </div>
    <div  class="col-sm-12">
        <div class="row">
            <div class="col-sm-4 text-center my-auto">
                <img src="assets/brand/brand/Book_Icon_1.png" style="width:60px;margin-bottom:20px;" />
                <h5 class="text-uppercase">Our Brand Narrative</h5>
            </div>
            <div class="col-sm-8 my-auto">
                <p>We’re the city by the sea that’s maintained its coastal town soul. We’re a place of powerful contrasts, the nostalgic and the new, the audacious and the abundant, all united by an unmistakable energy. It’s an energy as constant as the
                    tides from our foreshore to our hinterland. It lives in our rainforests, baristas, life guards and vivid city lights. You can almost taste it in our fresh, salty air. It inspires the way we live, shapes the way we think and fuels our
                    evolution. We’re not the place you used to know or think we might be. We are Destination Gold Coast.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4 text-center my-auto">
                <img src="assets/brand/brand/Diamond_Icon_2.png" style="width:60px;margin-bottom:20px;" />
                <h5 class="text-uppercase">Our Essence</h5>
            </div>
            <div class="col-sm-8 my-auto">
                <p class="text-uppercase font-weight-bold">We invite you to feel the energy</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4 text-center my-auto">
                <img src="assets/brand/brand/Heart_Icon_3.png" style="width:60px;margin-bottom:20px;" />
                <h5 class="text-uppercase">Our Values</h5>
            </div>
            <div class="col-sm-8 my-auto">
                <p class="text-uppercase font-weight-bold mb-0">Connection</p>
                <p>By our very nature, we’re a place that inspires and creates true connection. Connection with loved ones, with nature, with community….with yourself.
                </p>
                <p class="text-uppercase font-weight-bold mb-0">Celebration</p>
                <p>We’re a celebration of life and a reminder to live it well. We welcome you to be yourself, and revel in a place that accepts you.</p>
                <p class="text-uppercase font-weight-bold mb-0">Enrichment</p>
                <p>We’re a place that has the power to enrich people’s lives. We know it’s a gift not only to share, but to nurture and preserve for generations to come.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4 text-center my-auto">
                <img src="assets/brand/brand/Face_Icon_4.png" style="width:60px;margin-bottom:20px;" />
                <h5 class="text-uppercase">Our Personality</h5>
            </div>
            <div class="col-sm-8 my-auto">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="text-uppercase font-weight-bold mb-0">Inviting</p>
                        <p>Warm & genuine</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-uppercase font-weight-bold mb-0">Bold</p>
                        <p>Confident & passionate</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-uppercase font-weight-bold mb-0">Spirited</p>
                        <p>Alive & vibrant</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-uppercase font-weight-bold mb-0">Irreverent</p>
                        <p>Uninhibited & charismatic</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4 text-center my-auto">
                <img src="assets/brand/brand/Megaphone_Icon_5.png" style="width:60px;margin-bottom:20px;" />
                <h5 class="text-uppercase">Our Voice</h5>
            </div>
            <div class="col-sm-8 my-auto">
                <p>We’re casually confident and down-to-earth. We speak as natural hosts, compelled to share the real depth of our home. Our passion for the Gold Coast is obvious, almost infectious. We welcome souls, old and new, to immerse themselves in
                    a beautiful piece of Australia.</p>
            </div>
        </div>
    </div>
</div>