<div id="decorative-typeface" class="row">
    <div class="col-sm-12">
        <header class="section-title sub">
            <h1>Brand Overview<br/><span>Decorative Typeface</span></h1>
        </header>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Black Diamond was used in the creation of the We are Gold Coast “Hashtag” device and is to be used sparingly and only under special circumstances.
        </p>

        <p>Users must first seek permission from Destination Gold Coast should they wish to use the Black Diamond typeface within any promotional materials.</p>

    </div>
    <div class="col-sm-12 col-md-8">
        <img src="assets/brand/decorative-typeface/black-diamond.png" style="width:100%;" />
    </div>
</div>