<div id="fall-back-typeface" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Brand Overview<br/><span>Fall Back Typeface</span></h1>
        </header>
    </div>

    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>In the event that it is not possible to use the primary Helvetica Neue typeface, it is permissible to use Arial Condensed as an alternative fall-back typeface.</p>

        <p>Prior to use however, the user must first actively seek to obtain the font files for the Helvetica Neue typeface from Destination Gold Coast. This can be done by emailing:</p>

        <p><a title="Email creative@destinationgoldcoast.com" href="mailto:creative@destinationgoldcoast.com">creative@destinationgoldcoast.com</a></p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase">Arial Condensed Light</h5>
        <p>1234567890</p>
        <p>!@#$%^&*()_+
            <>/?,.+=:;”|\</p>
        <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj</p>
        <p>Kk Ll Mm Nn Oo Pp Qq Rr Ss</p>
        <p>Tt Uu Vv Ww Xx Yy Zz</p>
        <hr>
        <h5 class="text-uppercase">Arial Condensed Bold</h5>
        <p>1234567890</p>
        <p>!@#$%^&*()_+
            <>/?,.+=:;”|\</p>
        <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj</p>
        <p>Kk Ll Mm Nn Oo Pp Qq Rr Ss</p>
        <p>Tt Uu Vv Ww Xx Yy Zz</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5 class="text-uppercase">Arial Condensed Condensed</h5>
        <p>1234567890</p>
        <p>!@#$%^&*()_+
            <>/?,.+=:;”|\</p>
        <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj</p>
        <p>Kk Ll Mm Nn Oo Pp Qq Rr Ss</p>
        <p>Tt Uu Vv Ww Xx Yy Zz</p>
        <hr>
        <h5 class="text-uppercase">Arial Condensed Extra Bold</h5>
        <p>1234567890</p>
        <p>!@#$%^&*()_+
            <>/?,.+=:;”|\</p>
        <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj</p>
        <p>Kk Ll Mm Nn Oo Pp Qq Rr Ss</p>
        <p>Tt Uu Vv Ww Xx Yy Zz</p>
    </div>
</div>