<div id="fall-back-typeface" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title">
            <h1>Fall Back Typeface<br/><span>Arial Condensed</span></h1>
        </header>
    </div>

    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>Our primary brand typeface is Helvetica Neue, a contemporary sans serif typeface. Helvetica Neue was not only used in the creation of the logo, it is also the corporate typeface used throughout all our collateral.</p>

        <p>Used in four weights and two cases, this typeface provides our brand with a modern simplicity that is visually strong and highly legible.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5>Light</h5>
        <p>1234567890</p>
        <p>!@#$%^&*()_+
            <>/?,.+=:;”|\</p>
        <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj</p>
        <p>Kk Ll Mm Nn Oo Pp Qq Rr Ss</p>
        <p>Tt Uu Vv Ww Xx Yy Zz</p>
        <hr>
        <h5>Bold</h5>
        <p>1234567890</p>
        <p>!@#$%^&*()_+
            <>/?,.+=:;”|\</p>
        <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj</p>
        <p>Kk Ll Mm Nn Oo Pp Qq Rr Ss</p>
        <p>Tt Uu Vv Ww Xx Yy Zz</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <h5>Condensed</h5>
        <p>1234567890</p>
        <p>!@#$%^&*()_+
            <>/?,.+=:;”|\</p>
        <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj</p>
        <p>Kk Ll Mm Nn Oo Pp Qq Rr Ss</p>
        <p>Tt Uu Vv Ww Xx Yy Zz</p>
        <hr>
        <h5>Extra Bold</h5>
        <p>1234567890</p>
        <p>!@#$%^&*()_+
            <>/?,.+=:;”|\</p>
        <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj</p>
        <p>Kk Ll Mm Nn Oo Pp Qq Rr Ss</p>
        <p>Tt Uu Vv Ww Xx Yy Zz</p>
    </div>
</div>