<div id="introduction" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title">
            <h1>Style Guide<br/><span>Introduction</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">

        <p>This document contains the visual standards related to the look and feel of the Destination Gold Coast brand. The correct use and application of Destination Gold Coast’s corporate and consumer facing identity is outlined in this guide, as is the
            correct formatting of all branded elements for both print and digital mediums.
        </p>

        <p>This style guide should always be referred to for the consistent use of Destination Gold Coast logos and all associated visual, graphic, written and typographical elements.</p>

        <p>Destination Gold Coast’s brand identity and visual representation is very important to all staff and associated stakeholders. Much time and effort has been spent crafting the brand into the visual embodiment of the organisation. Destination Gold
            Coast appreciates designers’ and developers’ adhere to the rules outlined in this guide when working with Destination Gold Coast branded elements.</p>

        <p>When using Destination Gold Coast logos, or creating branded materials, please do not alter, tweak, disfigure or take any personal creative freedoms that may contradict the rules set out in this guide.</p>

        <p>The following pages demonstrate examples of best practice and clarify actions that would violate the integrity of our logos and visual themes.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <img style="width:100%;height:auto;" src="assets/brand/introduction/Coastline-to-Surfers-Paradise.jpg" />
    </div>
</div>