<div id="logo-devices" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title">
            <h1>Logos &<br/><span>Devices</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-3">
        <h5 class="text-uppercase">Master</h5>
        <p class="font-weight-bold">Positive</p>
        <img src="https://placeimg.com/640/480/tech" style="width:100%;height:auto;" />
        <p class="font-weight-bold">Reverse</p>
        <img src="https://placeimg.com/640/480/tech" style="width:100%;height:auto;" />
        <p class="font-weight-bold text-uppercase">Usage</p>
        <p>The master City of Gold Coast logo is for co-operative activity and used at the discretion of the Digital Brand & Content team only.</p>

        <p class="font-weight-bold text-uppercase">Example Use</p>
        <ul>
            <li>Co-operative merchandise</li>
            <li>Discretionary initiatives</li>
        </ul>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-3">
        <h5 class="text-uppercase">Corporate</h5>
        <p class="font-weight-bold">Positive</p>
        <img src="https://placeimg.com/640/480/tech" style="width:100%;height:auto;" />
        <p class="font-weight-bold">Reverse</p>
        <img src="https://placeimg.com/640/480/tech" style="width:100%;height:auto;" />
        <p class="font-weight-bold text-uppercase">Usage</p>
        <p>The corporate Destination Gold Coast logo is for business activity and used to promote our corporate brand identity. It is applied to corporate, financial, legal and internal documents that represent the organisation.</p>
        <p class="font-weight-bold text-uppercase">Example Use</p>
        <ul>
            <li>Sponsorship</li>
            <li>Presentations / reports</li>
            <li>Forms / policies</li>
            <li>Briefing templates</li>
            <li>Stationery</li>
        </ul>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-3">
        <h5 class="text-uppercase">Global Consumer*</h5>
        <p class="font-weight-bold">Positive</p>
        <img src="https://placeimg.com/640/480/tech" style="width:100%;height:auto;" />
        <p class="font-weight-bold">Reverse</p>
        <img src="https://placeimg.com/640/480/tech" style="width:100%;height:auto;" />
        <p class="font-weight-bold text-uppercase">Usage</p>
        <p>The We Are Destination Gold Coast logo is to be used for the positive promotion of the destination in consumer facing activity in domestic and international markets *except China.</p>
        <p class="font-weight-bold text-uppercase">Example Use</p>
        <ul>
            <li>Trade shows / expos / events</li>
            <li>Outdoor / signage / banners</li>
            <li>Flyers / brochures / press / POS</li>
            <li>Website / eDM / social / influencer</li>
        </ul>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-3">
        <h5 class="text-uppercase">Chinese Consumer</h5>
        <p class="font-weight-bold">Positive</p>
        <img src="https://placeimg.com/640/480/tech" style="width:100%;height:auto;" />
        <p class="font-weight-bold">Reverse</p>
        <img src="https://placeimg.com/640/480/tech" style="width:100%;height:auto;" />
        <p class="font-weight-bold text-uppercase">Usage</p>
        <p>The corporate Destination Gold Coast logo is used for consumer facing activity in the China market for the positive promotion of the destination. </p>
        <p class="font-weight-bold text-uppercase">Example Use</p>
        <ul>
            <li>Trade shows / expos / events</li>
            <li>Outdoor / signage / banners</li>
            <li>Flyers / brochures / press / POS</li>
            <li>Website / eDM / social / influencer</li>
        </ul>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-6">
        <h5 class="text-uppercase">Corporate (Unlocked)</h5>
        <p class="font-weight-bold">Positive</p>
        <img src="https://placeimg.com/640/480/tech" style="width:100%;height:auto;" />
        <p class="font-weight-bold">Reverse</p>
        <img src="https://placeimg.com/640/480/tech" style="width:100%;height:auto;" />
    </div>
    <div id="switch-target" class="col-sm-12 col-md-6">
        <h5 class="text-uppercase">Global Consumer (Unlocked)</h5>
        <p class="font-weight-bold">Positive</p>
        <img src="https://placeimg.com/640/480/tech" style="width:100%;height:auto;" />
        <p class="font-weight-bold">Reverse</p>
        <img src="https://placeimg.com/640/480/tech" style="width:100%;height:auto;" />
    </div>
</div>