<div id="logo-devices" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Brand Overview<br/><span>Logos & Devices</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-3">
        <h5 class="text-uppercase">Master</h5>
        <p class="font-weight-bold mb-0">Positive</p>
        <img src="assets/brand/logos-devices/master-positive.png" style="width:100%;height:auto;padding:31px 20px;" />
        <p class="font-weight-bold mb-0 mt-4">Reverse</p>
        <img src="assets/brand/logos-devices/master-negative.png" style="width:100%;height:auto;padding:31px 20px;background:#85908a;" />
        <p class="font-weight-bold text-uppercase mb-0 mt-4">Usage</p>
        <p>The master City of Gold Coast logo is for co-operative activity and used at the discretion of the Digital Brand & Content team only.</p>

        <p class="font-weight-bold text-uppercase">Example Use</p>
        <ul>
            <li>Co-operative merchandise</li>
            <li>Discretionary initiatives</li>
        </ul>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-3">
        <h5 class="text-uppercase">Corporate</h5>
        <p class="font-weight-bold mb-0">Positive</p>
        <img src="assets/brand/logos-devices/corporate-positive.png" style="width:100%;height:auto;padding:20px;" />
        <p class="font-weight-bold mb-0 mt-4">Reverse</p>
        <img src="assets/brand/logos-devices/corporate-negative.png" style="width:100%;height:auto;padding:20px;background:#85908a;" />
        <p class="font-weight-bold text-uppercase mb-0 mt-4">Usage</p>
        <p>The corporate Destination Gold Coast logo is for business activity and used to promote our corporate brand identity. It is applied to corporate, financial, legal and internal documents that represent the organisation.</p>
        <p class="font-weight-bold text-uppercase">Example Use</p>
        <ul>
            <li>Sponsorship</li>
            <li>Presentations / reports</li>
            <li>Forms / policies</li>
            <li>Briefing templates</li>
            <li>Stationery</li>
        </ul>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-3">
        <h5 class="text-uppercase">Global Consumer*</h5>
        <p class="font-weight-bold mb-0">Positive</p>
        <img src="assets/brand/logos-devices/global-positive.png" style="width:100%;height:auto;padding:18px 20px;" />
        <p class="font-weight-bold mb-0 mt-4">Reverse</p>
        <img src="assets/brand/logos-devices/global-negative.png" style="width:100%;height:auto;padding:18px 20px;background:#85908a;" />
        <p class="font-weight-bold text-uppercase mb-0 mt-4">Usage</p>
        <p>The We Are Destination Gold Coast logo is to be used for the positive promotion of the destination in consumer facing activity in domestic and international markets *except China.</p>
        <p class="font-weight-bold text-uppercase">Example Use</p>
        <ul>
            <li>Trade shows / expos / events</li>
            <li>Outdoor / signage / banners</li>
            <li>Flyers / brochures / press / POS</li>
            <li>Website / eDM / social / influencer</li>
        </ul>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-3">
        <h5 class="text-uppercase">Chinese Consumer</h5>
        <p class="font-weight-bold mb-0">Positive</p>
        <img src="assets/brand/logos-devices/corporate-positive.png" style="width:100%;height:auto;padding:20px;" />
        <p class="font-weight-bold mb-0 mt-4">Reverse</p>
        <img src="assets/brand/logos-devices/corporate-negative.png" style="width:100%;height:auto;padding:20px;background:#85908a;" />
        <p class="font-weight-bold text-uppercase mb-0 mt-4">Usage</p>
        <p>The corporate Destination Gold Coast logo is used for consumer facing activity in the China market for the positive promotion of the destination. </p>
        <p class="font-weight-bold text-uppercase">Example Use</p>
        <ul>
            <li>Trade shows / expos / events</li>
            <li>Outdoor / signage / banners</li>
            <li>Flyers / brochures / press / POS</li>
            <li>Website / eDM / social / influencer</li>
        </ul>
    </div>

    <div id="switch-target" class="col-sm-12 col-md-6 mt-5">
        <h5 class="text-uppercase">Corporate (Unlocked)</h5>
        <p class="font-weight-bold mb-0">Positive</p>
        <img src="assets/brand/logos-devices/corporate-positive-unlocked.png" style="width:100%;height:auto;padding:30px 30px;" />
        <p class="font-weight-bold mb-0 mt-4">Reverse</p>
        <img src="assets/brand/logos-devices/corporate-negative-unlocked.png" style="width:100%;height:auto;padding:30px 30px;background:#85908a;" />
    </div>
    <div id="switch-target" class="col-sm-12 col-md-6 mt-5">
        <h5 class="text-uppercase">Global Consumer (Unlocked)</h5>
        <p class="font-weight-bold mb-0">Positive</p>
        <img src="assets/brand/logos-devices/global-consumer-positive-unlocked.png" style="width:100%;height:auto;padding:34px 30px;" />
        <p class="font-weight-bold mb-0 mt-4">Reverse</p>
        <img src="assets/brand/logos-devices/global-consumer-negative-unlocked.png" style="width:100%;height:auto;padding:34px 30px;background:#85908a;" />
    </div>

    <div class="col-sm-12 mt-5">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-dark font-weight-bold text-uppercase" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Colours
							</button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse px-3 py-3" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <div style="background:#000;width:100px;height:100px;"></div>
                                    <p class="font-weight-bold text-uppercase">Black</p>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <p class="font-weight-bold mb-0">Process</p>
                                    <p><strong>C:</strong>0, <strong>M:</strong>0, <strong>Y:</strong>0, <strong>K:</strong>100</p>
                                    <hr>
                                    <p class="font-weight-bold mb-0">Spot</p>
                                    <p>Pantone Black C</p>
                                    <hr>
                                    <p class="font-weight-bold mb-0">RGB</p>
                                    <p><strong>R:</strong>0, <strong>G:</strong>0, <strong>B:</strong>0</p>
                                    <hr>
                                    <p class="font-weight-bold mb-0">HEX</p>
                                    <p>000000</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <div style="background:#fff;border:1px solid #000;width:100px;height:100px;"></div>
                                    <p class="font-weight-bold text-uppercase">White</p>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <p class="font-weight-bold mb-0">Process</p>
                                    <p><strong>C:</strong>0, <strong>M:</strong>0, <strong>Y:</strong>0, <strong>K:</strong>0</p>
                                    <hr>
                                    <p class="font-weight-bold mb-0">Spot</p>
                                    <p>N/A</p>
                                    <hr>
                                    <p class="font-weight-bold mb-0">RGB</p>
                                    <p><strong>R:</strong>255, <strong>G:</strong>255, <strong>B:</strong>255</p>
                                    <hr>
                                    <p class="font-weight-bold mb-0">HEX</p>
                                    <p>FFFFFF</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="switch-target" class="col-sm-12 col-md-4 mt-5">
    <h5 class="text-uppercase">Hashtag Device</h5>
    <p>The “wearegoldcoast” hashtag is a graphic device used to encourage target audiences to tag their Gold Coast specific content on social media platforms, such as Instagram.</p>

    <p>When used outside of the social media sphere, this device is only to be used under certain circumstances for specific marketing collateral and communications.</p>

    <p>Often this hashtag device is used when both City of Gold Coast and Destination Gold Coast are represented within a partnership. In this instance, the City of Gold Coast logo will preside over the Destination Gold Coast logo which will be supplemented
        with the hashtag device. Users must first seek permission from Destination Gold Coast should they wish to use the “wearegoldcoast” hashtag device within promotional materials.</p>
</div>
<div id="switch-target" class="col-sm-12 col-md-4 mt-5">
    <p class="font-weight-bold">Positive</p>
    <img src="assets/brand/logos-devices/hashtag.png" style="width:100%;height:auto;margin-bottom:15px;padding:20px;" />
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div style="background:#000;width:100px;height:100px;"></div>
            <p class="font-weight-bold text-uppercase">Black</p>
        </div>
        <div class="col-sm-12 col-md-8">
            <p class="font-weight-bold mb-0">Process</p>
            <p><strong>C:</strong>0, <strong>M:</strong>0, <strong>Y:</strong>0, <strong>K:</strong>100</p>
            <hr>
            <p class="font-weight-bold mb-0">Spot</p>
            <p>Pantone Black C</p>
            <hr>
            <p class="font-weight-bold mb-0">RGB</p>
            <p><strong>R:</strong>0, <strong>G:</strong>0, <strong>B:</strong>0</p>
            <hr>
            <p class="font-weight-bold mb-0">HEX</p>
            <p>000000</p>
        </div>
    </div>

</div>
<div id="switch-target" class="col-sm-12 col-md-4 mt-5">
    <p class="font-weight-bold">Reverse</p>
    <img src="assets/brand/logos-devices/hashtag-reverse.png" style="width:100%;height:auto;margin-bottom:15px;padding:20px;background:#85908a;" />
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div style="background:#fff;border:1px solid #000;width:100px;height:100px;"></div>
            <p class="font-weight-bold text-uppercase">White</p>
        </div>
        <div class="col-sm-12 col-md-8">
            <p class="font-weight-bold mb-0">Process</p>
            <p><strong>C:</strong>0, <strong>M:</strong>0, <strong>Y:</strong>0, <strong>K:</strong>0</p>
            <hr>
            <p class="font-weight-bold mb-0">Spot</p>
            <p>N/A</p>
            <hr>
            <p class="font-weight-bold mb-0">RGB</p>
            <p><strong>R:</strong>255, <strong>G:</strong>255, <strong>B:</strong>255</p>
            <hr>
            <p class="font-weight-bold mb-0">HEX</p>
            <p>FFFFFF</p>
        </div>
    </div>
</div>
</div>