<div id="secondary-typeface" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Secondary Typeface<br/><span>Gold Coast Script</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>Gold Coast Script is Destination Gold Coast’s secondary typeface.</p>
        <p>It is only used within advertising and some promotional materials as a visual differentiator to display tag lines and marketing messages.</p>

        <p><strong>Please note:</strong> External suppliers are not permitted to use this typeface on any branded promotions or materials. It is for internal use only.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-6">
        <p>1 2 3 4 5 6 7 8 9 0</p>
        <p>!@#$%&*()+
            <>/?,.+=:;”</p>
        <p>A B C D E F G H i j</p>
        <p>k l m n o p q r s t</p>
        <p>u v w x y z</p>
    </div>
</div>