<div id="tone-voice" class="row">
    <div id="switch-target" class="col-sm-12 col-md-6">
        <header class="section-title">
            <h1>Destination Gold Coast<br/><span>Tone of Voice</span></h1>
        </header>

        <p>Our brand voice is casually confident and down-to-earth. We speak as natural hosts, compelled to share the real depth of our home.</p>

        <p>Our passion for the Gold Coast is obvious, almost infectious. Our tone is relatable to all. Exclamation marks, slang or pop culture references aren’t who we are. Likewise, we’re not overly formal. We are who we are – casual, confident, charismatic,
            warm and genuine. This energy gauge shows how we achieve our casually confident tone.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-6">
        <p>Placeholder</p>
    </div>
</div>