<div id="tone-voice" class="row">
    <div id="switch-target" class="col-sm-12">
        <header class="section-title sub">
            <h1>Destination Gold Coast<br/><span>Tone of Voice</span></h1>
        </header>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-4">
        <p>Our brand voice is casually confident and down-to-earth. We speak as natural hosts, compelled to share the real depth of our home.</p>

        <p>Our passion for the Gold Coast is obvious, almost infectious. Our tone is relatable to all. Exclamation marks, slang or pop culture references aren’t who we are. Likewise, we’re not overly formal. We are who we are – casual, confident, charismatic,
            warm and genuine. This energy gauge shows how we achieve our casually confident tone.</p>
    </div>
    <div id="switch-target" class="col-sm-12 col-md-8">
        <div class="row">
            <div class="col-sm-2 col-md-3 text-center">
                <img src="assets/brand/tone-of-voice/speaker_icon.png" style="width:auto;height:50px;margin-bottom:30px;" />
                <h5 class="text-uppercase">Volume</h5>
                <img src="assets/brand/tone-of-voice/volume.jpg" />
            </div>
            <div class="col-sm-2 col-md-3 text-center">
                <img src="assets/brand/tone-of-voice/battery_icon.png" style="width:auto;height:50px;margin-bottom:30px;" />
                <h5 class="text-uppercase">Energy</h5>
                <img src="assets/brand/tone-of-voice/energy.jpg" />
            </div>
            <div class="col-sm-2 col-md-3 text-center">
                <img src="assets/brand/tone-of-voice/compass_icon.png" style="width:auto;height:50px;margin-bottom:30px;" />
                <h5 class="text-uppercase">Familiarity</h5>
                <img src="assets/brand/tone-of-voice/familiarity.jpg" />
            </div>
            <div class="col-sm-2 col-md-3 text-center">
                <img src="assets/brand/tone-of-voice/thumbs_up_icon.png" style="width:auto;height:50px;margin-bottom:30px;" />
                <h5 class="text-uppercase">Attitude</h5>
                <img src="assets/brand/tone-of-voice/attitude.jpg" />
            </div>
        </div>
    </div>
</div>