<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DGC Style guide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% include header-includes.html %}

</head>

<body>
    <a id="skippy" class="sr-only sr-only-focusable" href="">
        <span class="skiplink-text">Skip to main content</span>
    </a>
    <header class="navbar fixed-top shadow-sm bg-white">

        <div class="col-md-7 navbar-logo">

            {% include logo.html %}

        </div>

        <div class="col-md-5 navbar-menu">
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

                {% include header-menu.html %}

            </ul>
        </div>

    </header>
    <main id="content" role="main">
        <div class="container">
            <div class="row">
                <div class="col-12" style="padding-top:155px;">

                    <!-- BRAND -->

                    {% include brand-introduction.html %}

                    <hr class="my-100"> {% include brand-brand.html %}

                    <hr class="my-100"> {% include brand-tone-of-voice.html %}

                    <hr class="my-100"> {% include brand-logos-devices.html %}

                    <hr class="my-100"> {% include brand-primary-typeface.html %}

                    <hr class="my-100"> {% include brand-fall-back-typeface.html %}

                    <hr class="my-100"> {% include brand-decorative-typeface.html %}

                    <hr class="my-100"> {% include brand-photography.html %}

                    <!-- PRINT -->

                    <hr class="my-100"> {% include print-introduction.html %}

                    <hr class="my-100"> {% include print-colour-palette.html %}

                    <hr class="my-100"> {% include print-logo-minimum-size.html %}

                    <hr class="my-100"> {% include print-logo-clear-space.html %}

                    <hr class="my-100"> {% include print-prohibited-actions.html %}

                    <hr class="my-100"> {% include print-logo-placement.html %}

                    <hr class="my-100"> {% include print-image-formatting.html %}

                    <hr class="my-100"> {% include print-image-cropping.html %}

                    <hr class="my-100"> {% include print-typographic-hierarchy.html %}

                    <hr class="my-100"> {% include print-advertising-typography.html %}

                    <hr class="my-100"> {% include print-brochure-typography.html %}

                    <hr class="my-100"> {% include print-postcard-typography.html %}

                    <hr class="my-100"> {% include print-pull-out-quotes.html %}

                    <!-- DIGITAL -->
                    <hr class="my-100"> {% include digital-introduction.html %}

                    <hr class="my-100"> {% include digital-colour-palette.html %}

                    <hr class="my-100"> {% include digital-logo-minimum-sizes.html %}

                    <hr class="my-100"> {% include digital-logo-clear-space.html %}

                    <hr class="my-100"> {% include digital-prohibited-actions.html %}

                    <!-- WEBSITE -->
                    <hr class="my-100"> {% include website-introduction.html %}

                    <hr class="my-100"> {% include website-content-structure.html %}

                    <hr class="my-100"> {% include website-vertical-grid.html %}

                    <hr class="my-100"> {% include website-content-blocks.html %}

                    <hr class="my-100"> {% include website-spacing.html %}

                    <hr class="my-100"> {% include website-colour-ratio.html %}

                    <hr class="my-100"> {% include website-website-buttons.html %}

                    <hr class="my-100"> {% include website-typographic-hierarchy.html %}

                    <hr class="my-100"> {% include website-website-typography.html %}

                </div>
            </div>
        </div>
    </main>

    <div id="footer" class="footer">

        {% include footer.html %}

    </div>

    {% include footer-js.html %}

</body>

</html>